* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn:focus,
.btn:active,
.btn:focus:active,
.btn.collis:focus,
.btn.collis:active,
.btn.collis:focus:active {
    outline: none;
    box-shadow: none;
}

.btn-custom {
    background: #10316B;
    color: white;
}

    .btn-custom:hover {
        background: rgb(35, 35, 85);
        color: white;
    }
