@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Global Tags */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}


/* Navigation */

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.9vw 8vw;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

nav img{
    width: 120px;
    height: 50px;
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

#menu-btn {
    margin: 7px;
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    display: none;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li form button {
    border: none;
    background: none;
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li form button:hover {
    color: #FDC93B
}

nav .navigation ul li a:hover {
    color: #FDC93B
}

/* Home */

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("../img/Front_Building.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:40px;
}

#home h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: white;
    font-size: 1rem;
    line-height: 25px;
}


#home .btn{
    margin-top:5px;
}


#home a {
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue {
    color: white;
    background : rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: white;
}

/* About Us */

#about-container {
    display: flex;
    align-items: center;
    padding: 2vw 8vw 2vw 8vw;
}

#about-container .about-img {
    width: 60%;
    padding-right: 60px;
}

#about-container .about-img img{
    width: 100%;
}

#about-container .about-text {
    width: 40%;
}

#about-container .about-text h2{
    color: #29303B;
    padding-bottom: 15px;
}

#about-container .about-text p{
    color: #686F7A;
    font-weight: 300;
}

#about-container .about-text .about-fe {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 30px;
}

#about-container .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
    width: 90%;
}

#about-container .about-text .about-fe .fe-text h5 {
    font-size: 16px;
    color: #29303B;
}

/*Profile*/

#experts {
    padding: 0 8vw 0 8vw;
    text-align: center;
}

#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#experts .expert-box .profile {
    background: #fafaf1;
    padding: 30px 10px;
}

#experts .expert-box .profile h6 {
    padding-top: 10px;
}


footer {
    position: absolute;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: whitesmoke;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin : 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;

}

.socials a {
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: deepskyblue;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0 2px ;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.footer-bottom span {
    text-transform: uppercase; 
    font-weight: 200;
}


@media (max-width: 769px) {
    nav {
        padding: 15px 20px;
    }

    #menu-btn {
        margin: 7px;
        display: initial;
    }

    #menu-close {
        display: initial;
        font-size: 2rem;
        color: white;
        padding: 30px 0 20px 0px;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 10px;
        transition: 0.3s ease;
    }

    nav .navigation ul.active {
        right: 0;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a {
        color: white;

    }

    #home p {
        width: 75%;
    }

    #about-container {
        padding: 2vw 4vw 2vw 4vw;
    }

    #about-container .about-img {
    padding-right: 30px;
    }
}

@media (max-width:670px) {
    h1 {
        font-size: 2rem;
    }

    #about-container {
        flex-direction: column-reverse;
    }
    #about-container .about-img {
    width: 100%;
    padding-right: 0px;
    }
    #about-container .about-text {
    width: 100%;
    padding-bottom: 20px;
    }
}