.cardplus {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}

.edit-pengumuman {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

    /* CSS Hyperlink */
    .edit-pengumuman .title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .edit-pengumuman .breadcrumbs {
        display: flex;
        grid-gap: 6px;
        padding: 0;
        margin: 0;
    }

        .edit-pengumuman .breadcrumbs li,
        .edit-pengumuman .breadcrumbs li a {
            font-size: 16px;
            list-style: none;
        }

            .edit-pengumuman .breadcrumbs li a {
                color: var(--blue);
            }

                .edit-pengumuman .breadcrumbs li a.active,
                .edit-pengumuman .breadcrumbs li.divider {
                    color: var(--dark-grey);
                    pointer-events: none;
                }
/* Akhir CSS Hyperlink */


/* CSS type input Text dan Textarea */
::deep .form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #000000 !important;
}

::deep .input-box label {
    color: #333;
    margin-bottom: 5px;
    font-size: 16px;
}

::deep .input-box input {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 15px;
}

::deep .input-box select {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 16px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 15px;
}
/* Akhir CSS type input Text dan Textarea */
