.foto-semua {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

    /* CSS Hyperlink */
    .foto-semua .title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .foto-semua .breadcrumbs {
        display: flex;
        grid-gap: 6px;
        padding: 0;
        margin: 0;
    }

        .foto-semua .breadcrumbs li,
        .foto-semua .breadcrumbs li a {
            font-size: 16px;
            list-style: none;
        }

            .foto-semua .breadcrumbs li a {
                color: var(--blue);
            }

                .foto-semua .breadcrumbs li a.active,
                .foto-semua .breadcrumbs li.divider {
                    color: var(--dark-grey);
                    pointer-events: none;
                }
/* Akhir CSS Hyperlink */


/* CSS Datatable */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .table th, .table td {
        padding: 12px 15px;
        text-align: left;
    }

    .table thead th {
        text-transform: uppercase;
        background-color: var(--primary-clr);
        color: #fff;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .table tbody tr:hover {
            background-color: #f1f1f1;
        }

.imag-fluid {
    width: 70%;
    height: auto;
    max-width: 70%;
    display: block;
    border-radius: 5px;
    margin: 0 auto; /*Buat Jadi Tengah*/
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    border: none;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

::deep label {
    margin-bottom: 10px;
}
/* Akhir CSS Datatable */






.kepala-modal {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;
}

.kepala-modal {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;
}

.aku-h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

/*.responsive-table {
    padding-right: 30px;
    width: 100%;
}

    .responsive-table li {
        border-radius: 3px;
        padding: 25px 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }*/

/*.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}*/

/*.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}*/


/* ==== CSS Modal untuk Peserta dan content (Judul dan Keterangan) ==== */
.custom-modal {
    max-width: 600px;
}

.modal-footer {
    border: none;
    box-shadow: 0px -3px 12px -2px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px -3px 12px -2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px -3px 12px -2px rgba(0,0,0,0.13);
    z-index: 999;
}

.modal-header {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0px -3px 12px -2px rgba(0,0,0,0.13);
    -webkit-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px -3px 12px -2px rgba(0,0,0,0.13);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #f8f9fa;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.img-thumbnail {
    border-radius: 50%;
    outline: none;
    border: none;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.participant-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.responsive-table {
    padding: 0;
    margin: 0;
    list-style: none;
}

.table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
}

.col-1 {
    flex-basis: 20%;
}

.col-4 {
    flex-basis: 75%;
    text-align: left;
}
/* ==== Akhir CSS Modal untuk Peserta dan content (Judul dan Keterangan) ==== */
