.cardplus {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}

.tambah-foto {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

    /* CSS Hyperlink */
    .tambah-foto .title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .tambah-foto .breadcrumbs {
        display: flex;
        grid-gap: 6px;
        padding: 0;
        margin: 0;
    }

        .tambah-foto .breadcrumbs li,
        .tambah-foto .breadcrumbs li a {
            font-size: 16px;
            list-style: none;
        }

            .tambah-foto .breadcrumbs li a {
                color: var(--blue);
            }

                .tambah-foto .breadcrumbs li a.active,
                .tambah-foto .breadcrumbs li.divider {
                    color: var(--dark-grey);
                    pointer-events: none;
                }
/* Akhir CSS Hyperlink */


/* CSS type input Text dan Textarea */
::deep .input-box label {
    color: #333;
    font-size: 16px;
}

::deep .input-box input {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box select {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 16px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
/* Akhir CSS type input Text dan Textarea */



::deep .tag {
    border: 1px solid;
    border-color: #0dcaf0 !important;
    border-radius: 10rem;
    padding: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::deep .close {
    background: inherit;
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    border-color: white;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

::deep #tbbody input#namaMahasiswa {
    border: none;
    background: inherit;
    color: inherit;
    cursor: pointer;
}

    ::deep #tbbody input#namaMahasiswa:focus {
        outline: none;
    }

    ::deep #tbbody input#namaMahasiswa:focus-visible {
        outline: none;
    }

::deep .close:active {
    border-color: black;
}

.progress {
    height: 15px;
    background-color: #f3f3f3;
}

.progress-bar {
    background-color: rgb(35, 35, 85);
    transition: width 0.4s ease;
}
