@{
    ViewData["title"] = "Dashboard";
}


<div class="pertama">
    <!-- Hyperlink -->
    <h1 class="title">Beranda</h1>
    <ul class="breadcrumbs">
        <li><a href="#">Dashboard</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Beranda</a></li>
    </ul>
    <!-- Akhir Hyperlink -->
    <!-- Content Beranda -->
    <div class="info-data">


        <!-- Card Jumlah Total Mahasiswa -->
        <div class="card">
            <div class="head">
                <div>
                    <h2>100</h2>
                    <p>Seluruh Mahasiswa</p>
                </div>
                <img src="~/img/Beranda/audience.png" style="height: 60px;" />
            </div>
            <hr />
        </div>


        <!-- Card Jumlah Laki-Laki -->
        <div class="card">
            <div class="head">
                <div>
                    <h2>50</h2>
                    <p>Laki-Laki</p>
                </div>
                <img src="~/img/Beranda/male-student.png" style="height: 50px;" />
            </div>
            <hr />
            <span class="label">50%</span>
        </div>


        <!-- Card Jumlah Perempuan -->
        <div class="card">
            <div class="head">
                <div>
                    <h2>50</h2>
                    <p>Perempuan</p>
                </div>
                <img src="~/img/Beranda/female-student.png" style="height: 50px;" />
            </div>
            <hr />
            <span class="label">50%</span>
        </div>


        <!-- Card Jumlah Kegiatan -->
        <div class="card">
            <div class="head">
                <div>
                    <h2>0</h2>
                    <p>Jumlah kegiatan</p>
                </div>
                <img src="~/img/Beranda/event.png" style="height: 50px;" />
            </div>
            <hr />            
        </div>


        <!-- Card Jumlah Album -->
        <div class="card">
            <div class="head">
                <div>
                    <h2>1</h2>
                    <p>Jumlah Album</p>
                </div>
                <img src="~/img/Beranda/album.png" style="height: 50px;" />
            </div>
            <hr />
        </div>


        <!-- Card Jumlah Pengumuman -->
        <div class="card">
            <div class="head">
                <div>
                    <h2>2</h2>
                    <p>Jumlah Pengumuman</p>
                </div>
                <img src="~/img/Beranda/announcement.png" style="height: 50px;" />
            </div>
            <hr />
        </div>
    </div>
</div>