@inject UserManager<Mahasiswa> UserManager
@inject SignInManager<Mahasiswa> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li class="nav-item align-items-center" style="padding-right: 20px">
        <div class="cover-user-pic">
            <img src="@Url.Action("FotoProfil", "File", new {Area = "", id = user.Id})"
                 class="user-pic" />
        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <div class="cover-user-info">
                        <img src="@Url.Action("FotoProfil", "File", new {Area = "", id = user.Id})" />
                    </div>
                    <h2>@user.NamaPanggilan</h2>
                </div>
                <hr>

                <a asp-action="Index" asp-controller="Account" asp-area=""
                   class="sub-menu-link">
                    <i class="ri-pencil-fill"></i>
                    <p>Ubah Profile</p>
                    <span>></span>
                </a>

                <a asp-action="FotoProfil" asp-controller="Account" asp-area=""
                   class="sub-menu-link">
                    <i class="ri-camera-fill"></i>
                    <p>Ubah Foto</p>
                    <span>></span>
                </a>

                <a asp-action="UbahEmail" asp-controller="Account" asp-area=""
                   class="sub-menu-link">
                    <i class="ri-mail-add-fill"></i>
                    <p>Ubah E-mail</p>
                    <span>></span>
                </a>

                <a asp-action="UbahPassword" asp-controller="Account" asp-area=""
                   class="sub-menu-link">
                    <i class="ri-lock-unlock-fill"></i>
                    <p>Ubah Password</p>
                    <span>></span>
                </a>

                <form asp-action="Logout" asp-controller="Account"
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class="sub-menu-link" type="submit">
                        <i class="ri-logout-box-r-fill"></i>
                        <p>Keluar</p>
                    </button>
                </form>
            </div>
        </div>
    </li>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            const subMenu = $("#subMenu");

            const toggleMenu = (e) => {
                e.stopPropagation();
                $(subMenu).toggleClass('open-menu');
            }

            const closeMenu = (e) => {
                if (!$(e.target).closest('#subMenu').length && !$(e.target).closest('.user-pic').length) {
                    $(subMenu).removeClass('open-menu');
                }
            }

            $('.user-pic').on('click', toggleMenu);
            $(document).on('click', closeMenu);
        });
    </script>
}