/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

div#main {
    margin-top: 5rem;
}

#navbar {
    height: 4rem;
}

footer {
    position: absolute;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: whitesmoke;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-right: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 33%;
    padding-right: 30px;
}

.kontak1 {
    justify-content: flex-start;
}

.kontak1 .kontak-details div {
    display: flex;
}

.kontak1 .kontak-details div .get {
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
}

.kontak1 .kontak-details div p {
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 5px;
}


    .kontak1 h2 {
        color: #232355;
        font-size: 30px;
        font-weight: 800;
        line-height: .8;
        margin-bottom: 16px;
    }

.kontak1 p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 3px;
    padding-bottom: 2px;
    border-bottom: none;
}



.kontak1 h3 {
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

.kolom3 {
    height: 100%;
    width: 100%;
    padding-left: 30px;
}

.kontak2 {
    margin-left: 10px;
    padding-bottom: 27px;
}

.kontak2 h2 {
    color: #232355;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 35px;
}

#pro-links {
    /*margin-top: 10px;
    margin-left: 15px;
    padding-left: 10px;*/
}

.pro-links i {
    padding: 10px 13px;
    margin-right: 5px;
    border: 1px solid rgb(100, 100, 100);
    cursor: pointer;
    transition: 0.3s ease;
}

    .pro-links i:hover {
        background: rgb(21, 21, 100);
        color: #ffffff;
        border: 1px solid rgb(21, 21, 100);
        cursor: pointer;
    }

.laporan {
    margin-left: 5px;
    color: #232355;
}

.laporan:hover {
    color: blue;
}

a {
    text-decoration: none;
    color: #F5F5F5;
}
    /*.footer-content h3 {*/
        /*font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;*/
    /*}

    .footer-content p {*/
        /*max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;*/
    /*}*/

/*.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

    .socials li {
        margin: 0 10px;
    }

    .socials a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

        .socials a i {
            font-size: 1.1rem;
            transition: color .4s ease;
        }

        .socials a:hover i {
            color: deepskyblue;
        }*/

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0 2px;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: uppercase;
    }

.logo-footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}

    .logo-footer h3 {
        margin-top: -90px;
    }

    .img-footer {
        height: 300px;
        width: 300px;
        filter: invert(90%);
    }


    .footer-bottom span {
        text-transform: uppercase;
        font-weight: 200;
    }

    hr {
        height: 1px;
    }

@media (max-width:670px) {
    h1 {
        font-size: 2rem;
    }
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #b0b0b0;
    bottom: 40px;
    right: 50px;
    z-index: 999;
    border-radius: 50%;
    opacity: 30%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    transition: .5s;
}

.gotopbtn:hover {
    opacity: 100%;
    bottom: 53px;
    transition: .5s;
}