/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

div#main {
    margin-top: 5rem;
}

#navbar {
    height: 4rem;
}

footer {
    position: absolute;
    background: #111;
    width: 100%;
}

h2 {
    color: #232355;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 20px;
}

h3 {
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 3px;
    padding-bottom: 2px;
    border-bottom: none;
}

footer .row {
   display: flex;
   width: 100%;
   margin: 30px 0px;
   align-content: center;
}

.get {
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
}

.kontak-details {
    padding-left: 5px;
}

.kontak-details div {
    display: flex;
}

.box3 .kontak-details {
    padding: 10px 0px;
}

.kontak-details a {
    text-decoration: none;
    color: #F5F5F5;
}

.pro-links i {
    padding: 10px 13px;
    margin-right: 5px;
    border: 1px solid rgb(100, 100, 100);
    cursor: pointer;
    transition: 0.3s ease;
}

    .pro-links i:hover {
        background: rgb(21, 21, 100);
        color: #ffffff;
        border: 1px solid rgb(21, 21, 100);
        cursor: pointer;
    }

.laporkan {
    color: #232355;
}

    .laporkan:hover {
        color: blue;
    }

.box1 {
    padding: 30px 0px;
    text-align: center;
    margin: 10px 0px;
    filter: invert(90%);
}


.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0 2px;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: uppercase;
        color: whitesmoke;
    }

    .footer-bottom span {
        text-transform: uppercase;
        font-weight: 200;
    }

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #b0b0b0;
    bottom: 40px;
    right: 50px;
    z-index: 999;
    border-radius: 50%;
    opacity: 30%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    transition: .5s;
}

.gotopbtn:hover {
    opacity: 100%;
    bottom: 52px;
    transition: .5s;
}