<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/Logo Site Bulat.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webSITE</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/webSITE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/@(nameof(webSITE)).styles.css" asp-append-version="true" />
</head>
<body>

    <partial name="_navbar.cshtml" />

    @*Isi dalam*@
    <div id="main" class="container-fluid px-0">
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="animate__animated animate__fadeInUpBig">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <div class="logo-footer">
                        <div class="img-footer">
                            <img src="~/img/SIte_Transparant.png" class="logo-site img-fluid"  />
                        </div>
                        <h3>ANGKATAN SITE22</h3>
                        </div>
                    </div>

                    <div class="footer-col">
                        <div class="kontak1">
                            <h2>Hubungi Kami</h2>

                            <div class="kontak-details">
                                <h3>Email Admin</h3>
                                <div>
                                    <i class="ri-mail-line get"></i>
                                    <p>siteunc22@gmail.com</p>
                                </div>
                                <hr />
                                <h3>Telepon</h3>
                                <div>
                                    <i class="ri-phone-line get"></i>
                                    <p>(+62) 1234511891 (Manusia)<br />(+62) 2144711486 (Manusia)</p>
                                </div>
                                <hr />
                                <h3>Instagram</h3>
                                <div>
                                    <i class="ri-instagram-line get"></i>
                                    <p>site22.unc</p>
                                </div>
                                <hr />
                            </div>

                        </div>
                    </div>

                    <div class="footer-col">
                        <div class="kolom3">
                        <div class="kontak2">
                            <h2>Ikuti Kami</h2>

                            <div class="kontak-details">
                                <div class="pro-links">
                                        <a href="https://www.instagram.com/site22_unc?igsh=MXdmYjZ3YnJqN2FvbA=="><i class="ri-instagram-line"></i></a>
                                        <a href="https://github.com/Lavitz1185/webSITE.git"> <i class="ri-github-fill"></i></a>
                                        <a href="https://discord.gg/e6H6FZkh"><i class="ri-discord-line"></i></a>
                                </div>
                            </div>
                            
                        </div>
                        <hr >
                        <a class="laporan" href="#">Laporkan Error</a>
                        </div>
                    </div>

                </div>
            </div>
           @*  <h3>ANGKATAN SITE22</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris.
            </p>
            <ul class="socials">
                <li><a href="https://www.instagram.com/site22_unc?igsh=MXdmYjZ3YnJqN2FvbA=="><i class="ri-instagram-fill"></i></a></li>
                <li><a href="https://github.com/Lavitz1185/webSITE.git"><i class="ri-github-fill"></i></a></li>
                <li><a href="https://discord.gg/hjfNwFGZ"><i class="ri-discord-fill"></i></a></li>
            </ul> *@
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2024 Site22. designed by <span>Team Sukses Prabowo-Gibran</span></p>
        </div>

    </footer>

    <a class="gotopbtn" href="#"><i class="ri-arrow-up-s-line" style="width: 1000px"></i></a>

    @* <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="https://unpkg.com/scrollreveal"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        let activeLink = "@(ViewData["Active"] ?? "")";

        $('document').ready(function () {
            $('.nav-link').each(function (imdex, item) {
                console.log(item);
                if ($(item).text() === activeLink) {
                    $(item).toggleClass('active');
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
