/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

div#main {
    margin-top: 5rem;
}

#navbar {
    height: 4rem;
}

footer {
    position: absolute;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: whitesmoke;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    .footer-content h3 {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }

    .footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

    .socials li {
        margin: 0 10px;
    }

    .socials a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

        .socials a i {
            font-size: 1.1rem;
            transition: color .4s ease;
        }

        .socials a:hover i {
            color: deepskyblue;
        }

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0 2px;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: uppercase;
    }

    .footer-bottom span {
        text-transform: uppercase;
        font-weight: 200;
    }

@media (max-width:670px) {
    h1 {
        font-size: 2rem;
    }
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #b0b0b0;
    bottom: 40px;
    right: 50px;
    z-index: 999;
    border-radius: 50%;
    opacity: 30%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
}

.gotopbtn:hover {
    opacity: 100%;
    transition: .5s;
}