<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/Logo Site Bulat.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webSITE</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/webSITE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/@(nameof(webSITE)).styles.css" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.css" rel="stylesheet" />
</head>
<body>
    <partial name="_AlertPartial.cshtml" />
    <partial name="_Navbar.cshtml" />

    @*Isi dalam*@
    <div id="main" class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="sec quicklinks">
                <img src="~/img/SITE_22_Logo.png" style="width:250px; filter: invert(100%); padding-top: 25px;" />
            </div>
            <div class="sec quicklinks">
                <h2>Link Cepat</h2>
                <div class="sec quicklinks">
                    <ul>
                        <li><a class="bapakmu" asp-area="" asp-controller="Home" asp-action="Index" onclick="setActive(this)">Home</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="Mahasiswa" asp-action="Index" onclick="setActive(this)">Siters</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="Kegiatan" asp-action="Index" onclick="setActive(this)">Kegiatan</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="Foto" asp-action="Index" onclick="setActive(this)">Album</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="Pengumuman" asp-action="Index" onclick="setActive(this)">Pengumuman</a></li>
                    </ul>
                </div>
            </div>
            <div class="sec contact">
                <h2>Kontak Kami</h2>
                <ul class="info">
                    <li>
                        <span><i class="ri-map-pin-fill"></i></span>
                        <p>
                            <a href="">
                                Undana, Kupang, NTT, Indonesia
                            </a>
                        </p>
                    </li>
                    <li>
                        <span><i class="ri-phone-fill"></i></span>
                        <p>
                            <a href="">
                                +62 821 4489 0529
                            </a>
                        </p>
                    </li>
                    <li>
                        <span><i class="ri-mail-fill"></i></span>
                        <p>
                            <a href="">
                                siteunc22@gmail.com
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="sec aboutus">
                <h2>Tentang Kami</h2>
                <p>
                    Bantu kami untuk memperbaiki sistem informasi ini dengan
                    melaporkan bug yang anda lihat <a asp-controller="Home" asp-action="LaporError" asp-route-id=""><span style="text-decoration: underline; color: rgb(21, 21, 150)">disini</span></a>
                </p>
                <ul class="sci">
                    <li><a href="https://www.instagram.com/site22_unc?igsh=MXdmYjZ3YnJqN2FvbA=="><i class="ri-instagram-fill"></i></a></li>
                    <li><a href=""><i class="ri-tiktok-fill"></i></a></li>
                    <li><a href="https://github.com/Lavitz1185/webSITE.git"><i class="ri-github-fill"></i></a></li>
                    <li><a href="https://discord.gg/e6H6FZkh"><i class="ri-discord-fill"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright &copy;2024 <partial name="_TombolDashboardPartial" />. All rights Reserved.</p>
    </div>

    <a class="gotopbtn" href="#"><i class="ri-arrow-up-s-line" style="width: 1000px"></i></a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    @* <script src="https://unpkg.com/scrollreveal"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/lib/lightbox/js/lightbox.js"></script>
    <partial name="_ToastrPartial" />

    <script type="text/javascript">
        AOS.init();

        const activeLink = "@(ViewData["Active"] ?? "")";

        $('document').ready(function () {
            $('.nav-link').each(function (imdex, item) {
                if ($(item).text() === activeLink) {
                    $(item).toggleClass('active');
                }
            });
        });

        $(document).ready(function () {
            const gotopbtn = $('.gotopbtn');

            const toggleButtonVisibility = () => {
                if ($(document).scrollTop() >= 650) {
                    gotopbtn.addClass('visible');
                } else {
                    gotopbtn.removeClass('visible');
                }
            };

            $(gotopbtn).on('click', () => $(document).scrollTo(0));
            $(document).on('scroll', toggleButtonVisibility);
            toggleButtonVisibility();
        });

        const alertBs = $('.alert');

        if (alertBs.length != 0) {
            const navbar = $('nav');

            $(navbar).css("top", "auto");

            $(alertBs).on('closed.bs.alert', () => {
                $(navbar).css("top", "0");
            })
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
