<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webSITE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/webSITE.styles.css" asp-append-version="true" />
</head>
<body>

    @*Navigation*@
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/SIte_Transparant.png" alt="" />
        </a>

        <div class="navigation">
            <ul>
                <li><a asp-area="" asp-controller="Mahasiswa" asp-action="Index">Siters</a></li>
                <li><a asp-area="" asp-controller="Kegiatan" asp-action="Index">Kegiatan</a></li>
                <li><a asp-area="" asp-controller="Foto" asp-action="Index">Album</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>

    @*Isi dalam*@
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Footer*@
    @*<footer class="border-top footer text-muted">
        <div class="container">
            <center>
            &copy; 2023 - webSITE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </center>
        </div>
    </footer>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
