@inject SignInManager<Mahasiswa> SignInManager

@if (!SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" id="login" asp-action="Login" asp-controller="Account" asp-area="">Masuk</a>
    </li>
}