@using Microsoft.AspNetCore.Identity
@using webSITE.DataAccess.Repositori.Interface;

@inject SignInManager<Mahasiswa> SignInManager
@inject UserManager<Mahasiswa> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" id="manage" asp-area="" asp-controller="Account" asp-action="Index" 
        title="Manage">Hello @((await UserManager.GetUserAsync(User)).NamaPanggilan)!</a>
    </li>
    <li class="nav-item d-flex align-items-center">
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit">Keluar</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a  class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Daftar</a>
    </li class="nav-item">
    <li>
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Masuk</a>
    </li>
}

