<style>
    nav {
        background-color: white;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    }

    .navbar-brand img {
        width: 120px;
        height: 50px;
        cursor: pointer;
    }

    .nav-link {
        text-decoration: none;
        color: rgb(21, 21, 100);
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s ease;
    }

    .nav-item form button {
        border: none;
        background: none;
        text-decoration: none;
        color: rgb(21, 21, 100);
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s ease;
    }

        .nav-item form button:hover {
            color: #FDC93B
        }

    .nav-link:hover {
        color: #FDC93B
    }
</style>

@*navigation*@
<nav class="navbar navbar-expand-lg px-5 justify-content-between">
    <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index">
        <img src="/img/site 22_logo.png" alt="" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon">
            <img src="/img/menu.png" width="30" height="30" />
        </span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Mahasiswa" asp-action="index">Siters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Kegiatan" asp-action="index">Kegiatan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Foto" asp-action="index">Album</a>
            </li>
            <partial name="_LoginPartial" />
        </ul>
    </div>
</nav>