<nav class="navbar navbar-expand-lg px-5 justify-content-between">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="/img/site 22_logo.png" alt="" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon">
            <img src="/img/menu.png" width="30" height="30" />
        </span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Mahasiswa" asp-action="Index">Siters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Kegiatan" asp-action="Index">Kegiatan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Foto" asp-action="Index">Album</a>
            </li>
            <partial name="_LoginPartial" />
        </ul>
        @*Tambahan*@
        <img src="~/img/generaluser.png" class="user-pic" onclick="toggleMenu()"/>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="~/img/generaluser.png"/>
                    <h2>Fernand</h2>
                </div>
                <hr>

                <a href="" class="sub-menu-link">
                    <i class="ri-pencil-fill"></i>
                    <p>Ubah Profile</p>
                    <span>></span>
                </a>

                <a href="" class="sub-menu-link">
                    <i class="ri-camera-fill"></i>
                    <p>Ubah Foto</p>
                    <span>></span>
                </a>

                <a href="" class="sub-menu-link">
                    <i class="ri-mail-add-fill"></i>
                    <p>Ubah E-mail</p>
                    <span>></span>
                </a>

                <a href="" class="sub-menu-link">
                    <i class="ri-lock-unlock-fill"></i>
                    <p>Ubah Password</p>
                    <span>></span>
                </a>

                <a href="" class="sub-menu-link">
                    <i class="ri-logout-box-r-fill"></i>
                    <p>Keluar</p>
                    <span>></span>
                </a>

            </div>            
        </div>
    </div>
</nav>

<script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }
</script>