/* Navigation */

nav {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    background: rgb(255, 255, 255, 1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: background 0.6
    s ease-in;
    min-height: 5rem;
}

::deep .navbar-brand img {
    width: 120px;
    height: 50px;
    cursor: pointer;
}

::deep .nav:item {
    display: flex;
    justify-content: center;
}

::deep .nav-link {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

    ::deep .nav-link.active {
        color: #FDC93B;
        border-bottom: 2px solid #FDC93B;
        transition: .6s;
    }

::deep .nav-item form button {
    border: none;
    background: none;
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

    ::deep .nav-item form button:hover {
        color: #FDC93B
    }

::deep .nav-link:hover {
    color: #FDC93B;
}
