@using Microsoft.AspNetCore.Mvc.Routing;
@inject UserManager<Mahasiswa> _userManager
@inject IRepositoriMahasiswa _repositoriMahasiswa
@{
    var userId = _userManager.GetUserId(User);
    var user = _repositoriMahasiswa.Get(userId).Result;
}

<!-- Sidebar -->
<section id="sidebar">
    <a href="" class="brand"><i class="ri-admin-fill icon"></i>Admin</a>
    <ul class="side-menu">
        <li><a href="" class="active"><i class="ri-dashboard-fill icon"></i>Dashboard</a></li>

        <!-- Sesi 1 -->
        <li class="divider" data-text="utama">Utama</li>
        <li><a asp-area="Dashboard" asp-controller="Home" asp-action="Index"><i class="ri-table-fill icon"></i>Beranda</a></li>
        <li>
            <a href=""><i class="ri-booklet-fill icon"></i>Contoh<i class="ri-arrow-right-s-line icon-right"></i></a>
            <ul class="side-dropdown">
                <li><a href="">Pertama</a></li>
                <li><a href="">Kedua</a></li>
                <li><a href="">Ketiga</a></li>
                <li><a href="">Keempat</a></li>
            </ul>
        </li>
        <!-- Akhir Sesi 1 -->
        <!-- Sesi 2 -->
        <li class="divider" data-text="informasi">Informasi</li>
        <!-- Mahasiswa -->
        <li><a asp-area="Dashboard" asp-controller="Mahasiswa" asp-action="Index"><i class="ri-team-fill icon"></i>Mahasiswa</a></li>
        <!-- Akhir Mahasiswa -->
        <!-- Kegiatan -->
        <li><a asp-area="Dashboard" asp-controller="Kegiatan" asp-action="Index"><i class="ri-sticky-note-fill icon"></i>Kegiatan</a></li>
        <!-- Akhir Kegiatan -->
        <!-- Tambah Kegiatan -->
        <li><a asp-area="Dashboard" asp-controller="Kegiatan" asp-action="TambahKegiatan"><i class="ri-sticky-note-add-fill icon"></i>Tambah Kegiatan</a></li>
        <!-- Akhir Tambah Kegiatan -->
        <!-- Album -->
        <li><a asp-area="Dashboard" asp-controller="Foto" asp-action="Index"><i class="ri-image-fill icon"></i>Album</a></li>
        <!-- Akhir Album -->
        <!-- Tambah Album -->
        <li><a asp-area="Dashboard" asp-controller="Foto" asp-action="Tambah"><i class="ri-image-add-fill icon"></i>Tambah Album</a></li>
        <!-- Akhir Tambah Album -->
        <!-- Pengumuman -->
        <li><a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Index"><i class="ri-megaphone-fill icon"></i>Pengumuman</a></li>
        <!-- Akhir Pengumuman -->             
        <!-- Akhir Sesi 2 -->
    </ul>
</section>