/* Sidebar */
#sidebar {
    position: fixed;
    box-shadow: 4px 0px 5px 0px rgba(198,181,181,0.75);
    -webkit-box-shadow: 4px 0px 5px 0px rgba(198,181,181,0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(198,181,181,0.75);
    max-width: 260px;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
}

    #sidebar.hide {
        max-width: 60px;
    }

        #sidebar.hide:hover {
            max-width: 260px;
        }

    #sidebar::-webkit-scrollbar {
        display: none;
    }

    #sidebar .brand {
        font-size: 24px;
        display: flex;
        align-items: center;
        height: 64px;
        font-weight: 700;
        color: var(--primary-clr);
        transition: all .3s ease;
        padding: 0 6px;
    }

    #sidebar .icon {
        min-width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6px;
    }

    #sidebar .icon-right {
        margin-left: auto;
        transition: all .3s ease;
    }

    #sidebar .side-menu {
        margin: 36px 0;
        padding: 0 20px;
        transition: all .3s ease;
    }

    #sidebar.hide .side-menu {
        padding: 0 6px;
    }

    #sidebar.hide:hover .side-menu {
        padding: 0 20px;
    }

    #sidebar .side-menu ::deep a {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--dark);
        padding: 12px 16px 12px 0px;
        transition: all .3s ease;
        border-radius: 10px;
        margin: 4px 0px;
        white-space: nowrap;
    }

    #sidebar .side-menu > ::deep li > ::deep a:hover {
        background-color: var(--primary-clr);
    }

    #sidebar .side-menu ::deep > li > ::deep a.active .icon-right {
        transform: rotateZ(90deg);
    }


    #sidebar .side-menu ::deep > li > a.active,
    #sidebar .side-menu ::deep > li > a.active:hover {
        color: white;
        background-color: var(--primary-clr);
    }

    #sidebar .divider {
        margin-top: 24px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--primary-clr);
        transition: all .3s ease;
        white-space: nowrap;
    }

    #sidebar.hide:hover .divider {
        text-align: left;
    }

    #sidebar.hide .divider {
        text-align: center;
    }

    #sidebar .side-dropdown {
        padding-left: 48px;
        max-height: 0px;
        overflow-y: hidden;
        transition: all .15s ease;
    }

        #sidebar .side-dropdown.show {
            max-height: 1000px;
        }

        #sidebar .side-dropdown ::deep a:hover {
            color: var(--primary-clr);
        }

    #sidebar .logout {
        width: 100%;
        padding: 20px;
    }

    #sidebar.hide .logout {
        display: none;
    }

    #sidebar .logout .wrapper {
        background-color: #F1F0F6;
        padding: 20px;
        border-radius: 10px;
    }

/* Akhir Sidebar */

@media screen and (max-width: 568px) {
    #sidebar {
        display: block;
        left: -300px;
    }

        #sidebar.show {
            left: 0px;
        }
}