@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    .header_logo {
        padding-left: 65px;
        font-weight: 600;
    }
}


::deep a {
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .header_search {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .body {
        padding: 1rem 3rem 0 6rem;
    }

    .header {
        padding: 0 3rem 0 6rem;
    }

    .header_container {
        height: 4rem;
    }

    .header_search {
        width: 300px;
        padding: .55rem .75rem;
    }

    .header_toggle {
        display: none;
    }

    .header_logo {
        display: block;
    }

    ::deep .header_img {
        width: 40px;
        height: 40px;
        order: 1;
    }

    .nav {
        left: 0;
        padding: 1.2rem 1.5rem 3rem;
        width: 68px;
    }

    .nav_items {
        row-gap: 1.7rem;
    }

    .nav_icon {
        font-size: 1.3rem;
    }

    .nav_logo-name, .nav_name, .nav_subtitle, 
    .nav_dropdown-icon{
        opacity: 0;
        transition: .3s;
    }

    .nav:hover {
        width: 219px;
    }
  
    .nav:hover .nav_logo-name {
        opacity: 1;
    }
    .nav:hover .nav_subtitle{
        opacity: 1;
    }
    .nav:hover .nav_name{
        opacity: 1;
    }
    .nav:hover .nav_dropdown-icon{
        opacity: 1;
    }
        
}






























/*@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

nav {
    z-index: 999;
}

.navbar {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    padding-left: 0rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item {
    width: 100%;
}

::deep .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

    ::deep .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        color: var(--text-secondary);
        background-color: var(--bg-secondary);
    }

.link-text {
    display: none;
    margin-left: 1rem;
    opacity : 0;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: 1200ms;
}

.account img {
    margin: 0 1rem;
}

.account-details {
    display: none;
    opacity: 0;
    transition: opacity var(--transition-speed);
    min-width: 10rem;
    flex-direction: column;
    align-items: start;
    justify-items: center;
}

.account-details strong {
    font-size: 100%;
}

.nav-link svg {
    min-width: 2rem;
    max-width: 4rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: blue;
}

.fa-secondary {
    color: cadetblue;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

    .logo svg {
        transform: rotate(0deg);
        transition: transform var(--transition-speed);
    }

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.dropdown > button {
    display: none;
}

.dropdown:hover .dropdown-menu, .dropdown.hover .dropdown-menu {
    display: inline;
}

.dropdown-menu {
    background: var(--bg-primary);
    display: none;
    transition: var(--transition-speed) ease;
    position: static;
}

::deep .dropdown-item {
    color: var(--text-primary);
    padding-left: 4rem;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed) ease;
}

    ::deep .dropdown-item:hover{
        background: var(--bg-secondary);
        color: var(--text-secondary);
        filter: grayscale(0%) opacity(1);
    }*/

/* typical phone screen resolution */
/*@media only screen and (min-width : 667px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

        .navbar:hover {
            width: 16rem;
        }

            .navbar:hover .link-text {
                display: inline;
                opacity: 1;
                transition: opacity var(--transition-speed);
            }

            .navbar:hover .account-details {
                display: flex;
                opacity: 1;
            }

    .dropdown > button {
        display: none;
    }
}

@media only screen and (max-width : 667px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo{
        display:none;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }

    .dropdown {
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu {
        position: absolute;
        right: 0vw;
        left: 0vw;
        bottom: 100%;
    }

        .dropdown > button {
            display: inline;
            background: inherit;
            color: white;
            width: 100%;
            margin-bottom:-25px;
            z-index:999;
            border: none;
            transform: rotate(180deg);
        }
}*/
