@using Microsoft.AspNetCore.Mvc.Routing;
@inject UserManager<Mahasiswa> _userManager
@inject IRepositoriMahasiswa _repositoriMahasiswa
@{
    var userId = _userManager.GetUserId(User);
    var user = _repositoriMahasiswa.Get(userId).Result;
}

<!-- Sidebar -->
<section id="sidebar">
    <a href="" class="brand"><i class="ri-admin-fill icon"></i>Admin</a>
    <ul class="side-menu">
        @* <li><a href="" class="active"><i class="ri-dashboard-fill icon"></i>Dashboard</a></li> *@

        <!-- Dashboard -->
        <li class="divider" data-text="dashboard">Dashboard</li>
        <li><a asp-area="Dashboard" asp-controller="Home" asp-action="Index" class="active"><i class="ri-table-fill icon"></i>Beranda</a></li>
        <!-- Akhir Dashboard -->


        <!-- Mahasiswa -->
        <li class="divider" data-text="mahasiswa">Mahasiswa</li>
        <li><a asp-area="Dashboard" asp-controller="Mahasiswa" asp-action="Index"><i class="ri-team-fill icon"></i>Mahasiswa</a></li>
        <!-- AKhir Mahasiswa -->


        <!-- Kegiatan -->
        <li class="divider" data-text="kegiatan">Kegiatan</li>      
        <li><a asp-area="Dashboard" asp-controller="Kegiatan" asp-action="Index"><i class="ri-sticky-note-fill icon"></i>Kegiatan</a></li>
        <!-- Akhir Kegiatan -->


        <!-- Album dan Foto -->
        <li class="divider" data-text="album & foto">Album & Foto</li>
        <li><a asp-area="Dashboard" asp-controller="Kegiatan" asp-action="DaftarAlbum"><i class="ri-sticky-note-fill icon"></i>Album</a></li>
        <li><a asp-area="Dashboard" asp-controller="Foto" asp-action="Index"><i class="ri-image-fill icon"></i>Galeri</a></li>
        <li><a asp-area="Dashboard" asp-controller="Foto" asp-action="Tambah"><i class="ri-image-add-fill icon"></i>Tambah Foto</a></li>
        <!-- Akhir Album dan Foto -->

        
        <!-- Acara -->
        <li class="divider" data-text="acara">Acara</li>
        <li><a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Index"><i class="ri-megaphone-fill icon"></i>Pengumuman</a></li>
        <li><a asp-area="Dashboard" asp-controller="Pensi" asp-action="Index"><i class="ri-megaphone-fill icon"></i>Pensi</a></li>
        <!-- Akhir Acara -->
    </ul>
</section>