@using Microsoft.AspNetCore.Mvc.Routing;
@inject UserManager<Mahasiswa> _userManager

@{
    var user = await _userManager.FindByNameAsync(User.Identity.Name);
}

<style>
    .nav-link {
        --text-primary: #b6b6b6;
        --text-secondary: #ececec;
        --bg-primary: #23232e;
        --bg-secondary: #141418;
        --transition-speed: 600ms;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);
    }

        .nav-link:hover {
            filter: grayscale(0%) opacity(1);
            color: var(--text-secondary);
            background-color: var(--bg-secondary);
        }
</style>

<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="#" class="nav-link">
                <span class="link-text">
                    <img class="img-fluid" src="~/img/site 22_logo.png" />
                </span>
                <svg aria-hidden="true"
                     focusable="false"
                     data-prefix="fad"
                     data-icon="angle-double-right"
                     role="img"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512"
                     width="2rem"
                     class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                    <g class="fa-group">
                        <path fill="currentColor"
                              d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                              class="fa-secondary"></path>
                        <path fill="currentColor"
                              d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                              class="fa-primary"></path>
                    </g>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="account">
                <img src="@Url.ActionLink("FotoProfil", "Mahasiswa", new{Id = user.Id, Area = ""})" height="45" width="45" class="rounded-circle img-thumbnail" />
                <div class="account-details">
                    <strong>@user.NamaLengkap</strong>
                    @user.Nim
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="Dashboard" asp-controller="Home" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     class="duoicon duoicon-dashboard">
                    <path fill="currentColor" fill-rule="evenodd"
                          d="M19 11a2 2 0 0 1 1.995 1.85L21 13v6a2 2 0 0 1-1.85 1.995L19 21h-4a2 2 0 0 1-1.995-1.85L13 19v-6a2 2 0 0 1 1.85-1.995L15 11h4Zm0-8a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4Z"
                          class="fa-secondary" opacity=".3">
                    </path>
                    <path fill="currentColor" fill-rule="evenodd"
                          d="M9 3a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4Z"
                          class="fa-primary">
                    </path>
                    <path fill="currentColor" fill-rule="evenodd"
                          d="M9 15a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h4Z"
                          class="fa-secondary" opacity=".3">
                    </path>
                </svg>
                <span class="link-text">Home</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link active" asp-area="Dashboard" asp-controller="Mahasiswa" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="duoicon duoicon-user">
                    <path fill="currentColor"
                          d="M12 13c2.396 0 4.575.694 6.178 1.671.8.49 1.484 1.065 1.978 1.69.486.616.844 1.352.844 2.139 0 .845-.411 1.511-1.003 1.986-.56.45-1.299.748-2.084.956-1.578.417-3.684.558-5.913.558s-4.335-.14-5.913-.558c-.785-.208-1.524-.506-2.084-.956C3.41 20.01 3 19.345 3 18.5c0-.787.358-1.523.844-2.139.494-.625 1.177-1.2 1.978-1.69C7.425 13.694 9.605 13 12 13Z"
                          class="fa-primary">
                    </path>
                    <path fill="currentColor"
                          d="M12 2c3.849 0 6.255 4.167 4.33 7.5A5 5 0 0 1 12 12c-3.849 0-6.255-4.167-4.33-7.5A5 5 0 0 1 12 2Z"
                          class="fa-secondary"
                          opacity=".3"></path>
                </svg>
                <span class="link-text">Mahasiswa</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link active" asp-area="Dashboard" asp-controller="Kegiatan" asp-action="Index">
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <g id="Frame 1" clip-path="url(#clip0_1_2)">
                        <path class="fa-secondary" fill-rule="evenodd" clip-rule="evenodd" d="M0 193H512V464C512 490.51 490.51 512 464 512H48C21.4903 512 0 490.51 0 464V193ZM55 263C55 252.507 63.5066 244 74 244H123C133.493 244 142 252.507 142 263V312C142 322.493 133.493 331 123 331H74C63.5066 331 55 322.493 55 312V263ZM74 365C63.5066 365 55 373.507 55 384V433C55 443.493 63.5066 452 74 452H123C133.493 452 142 443.493 142 433V384C142 373.507 133.493 365 123 365H74ZM213 263C213 252.507 221.507 244 232 244H281C291.493 244 300 252.507 300 263V312C300 322.493 291.493 331 281 331H232C221.507 331 213 322.493 213 312V263ZM232 374C221.507 374 213 382.507 213 393V442C213 452.493 221.507 461 232 461H281C291.493 461 300 452.493 300 442V393C300 382.507 291.493 374 281 374H232ZM371 263C371 252.507 379.507 244 390 244H439C449.493 244 458 252.507 458 263V312C458 322.493 449.493 331 439 331H390C379.507 331 371 322.493 371 312V263ZM390 374C379.507 374 371 382.507 371 393V442C371 452.493 379.507 461 390 461H439C449.493 461 458 452.493 458 442V393C458 382.507 449.493 374 439 374H390Z" fill="currentColor" fill-opacity="0.4" />
                        <path class="fa-primary" fill-rule="evenodd" clip-rule="evenodd" d="M108 44C108 19.6995 127.699 0 152 0C176.301 0 196 19.6995 196 44V84H306V44C306 19.6995 325.699 0 350 0C374.301 0 394 19.6995 394 44V84H464C490.51 84 512 105.49 512 132V193H0V132C0 105.49 21.4903 84 48 84H108V44Z" fill="currentColor" />
                    </g>
                </svg>
                <span class="link-text">Kegiatan</span>
            </a>
            <div class="dropdown-menu p-0">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="me-4" width="40" height="40" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="plus button">
                            <path class="fa-primary" fill-rule="evenodd" clip-rule="evenodd" d="M75 0C33.5786 0 0 33.5786 0 75V437C0 478.421 33.5786 512 75 512H437C478.421 512 512 478.421 512 437V75C512 33.5786 478.421 0 437 0H75ZM105 56C77.938 56 56 77.938 56 105V407C56 434.062 77.938 456 105 456H407C434.062 456 456 434.062 456 407V105C456 77.938 434.062 56 407 56H105Z" fill="currentColor" />
                            <path class="fa-secondary" fill-rule="evenodd" clip-rule="evenodd" d="M237 103C225.954 103 217 111.954 217 123V217H123C111.954 217 103 225.954 103 237V275C103 286.046 111.954 295 123 295H217V389C217 400.046 225.954 409 237 409H275C286.046 409 295 400.046 295 389V295H389C400.046 295 409 286.046 409 275V237C409 225.954 400.046 217 389 217H295V123C295 111.954 286.046 103 275 103H237Z" fill="currentColor" fill-opacity="0.4" />
                        </g>
                    </svg>
                    <span>Tambah</span>
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link active" asp-area="Dashboard" asp-controller="Foto" asp-action="Index">
                <svg viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M60 0C26.8629 0 0 26.8629 0 60V452C0 485.137 26.8629 512 60 512H452C485.137 512 512 485.137 512 452V60C512 26.8629 485.137 0 452 0H60ZM121 177C158.003 177 188 147.227 188 110.5C188 73.7731 158.003 44 121 44C83.9969 44 54 73.7731 54 110.5C54 147.227 83.9969 177 121 177Z"
                          fill="currentColor"
                          fill-opacity="0.4"
                          class="fa-secondary" />
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M199.009 271.165C193.957 264.697 184.048 265.096 179.533 271.949L63.2587 448.397C58.001 456.376 63.7235 467 73.2788 467H258.219H327.398H436.472C446.456 467 452.074 455.518 445.946 447.635L349.254 323.254C344.202 316.756 334.258 317.156 329.745 324.039L288.935 386.274L199.009 271.165Z"
                          fill="currentColor"
                          class="fa-primary" />
                </svg>
                <span class="link-text">Foto</span>
            </a>
            <div class="dropdown-menu p-0">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg class="me-4" width="40" height="40" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="plus button">
                            <path class="fa-primary" fill-rule="evenodd" clip-rule="evenodd" d="M75 0C33.5786 0 0 33.5786 0 75V437C0 478.421 33.5786 512 75 512H437C478.421 512 512 478.421 512 437V75C512 33.5786 478.421 0 437 0H75ZM105 56C77.938 56 56 77.938 56 105V407C56 434.062 77.938 456 105 456H407C434.062 456 456 434.062 456 407V105C456 77.938 434.062 56 407 56H105Z" fill="currentColor" />
                            <path class="fa-secondary" fill-rule="evenodd" clip-rule="evenodd" d="M237 103C225.954 103 217 111.954 217 123V217H123C111.954 217 103 225.954 103 237V275C103 286.046 111.954 295 123 295H217V389C217 400.046 225.954 409 237 409H275C286.046 409 295 400.046 295 389V295H389C400.046 295 409 286.046 409 275V237C409 225.954 400.046 217 389 217H295V123C295 111.954 286.046 103 275 103H237Z" fill="currentColor" fill-opacity="0.4" />
                        </g>
                    </svg>
                    <span>Tambah</span>
                </a>
            </div>
        </li>
    </ul>
</nav>