@{
    ViewData["Title"] = "Home Page";
}

<section id="home">
    <h2>SITE 22 ILMU KOMPUTER</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat exercitation ullamco laboris nisi ut aliquip.
    </p>
    <div class="btn">
        <a class="blue" id="login" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
    </div>
</section>
