@inject SignInManager<Mahasiswa> sigInManager

@{
    ViewData["Title"] = "Home Page";
}

<section id="home" class="mb-5">
    <h2>SITE 22 ILMU KOMPUTER</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat exercitation ullamco laboris nisi ut aliquip.
    </p>
    @if (!sigInManager.IsSignedIn(User))
    {
        <div class="btn">
            <a class="blue" id="login" asp-area="Identity" asp-page="/Account/Login">LOGIN MAHASISWA</a>
        </div>
    }
</section>

@*About Us*@

<section id="about-container" class="mb-5">
    <div class="about-img">
        <img src="~/img/Gambar_Boot.png" />
    </div>
    <div class="about-text">
        <h2>Selamat Datang di Website SITE22, Semoga Betah</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris.
        </p>
        <div class="about-fe">
            <img src="~/img/programmer.png" alt="" />
            <div class="fe-text">
                <h5>Jumlah Coders</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="about-fe">
            <img src="~/img/student.png" alt="" />
            <div class="fe-text">
                <h5>Berdirinya SITE</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</section>

@*Profil Pengurus*@

<section id="experts">
    <h1>Pengurus Angkatan SITE22</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <div class="expert-box">
        <div class="profile">
            <img src="~/img/generaluser.png" alt="" style="width:50%" />
            <h6>Dion Stekiko M Tabelak</h6>
            <p>Ketua Partai PDIP</p>
        </div>
        <div class="profile">
            <img src="~/img/generaluser.png" alt="" style="width:50%" />
            <h6>Dion Stekiko M Tabelak</h6>
            <p>Ketua Partai PDIP</p>
        </div>
        <div class="profile">
            <img src="~/img/generaluser.png" alt="" style="width:50%" />
            <h6>Dion Stekiko M Tabelak</h6>
            <p>Ketua Partai PDIP</p>
        </div>
        <div class="profile">
            <img src="~/img/generaluser.png" alt="" style="width:50%" />
            <h6>Dion Stekiko M Tabelak</h6>
            <p>Ketua Partai PDIP</p>
        </div>
    </div>
</section>


@*Album Preview*@

<section class="">
</section>