/* Home */
#home {
    position: relative;
    width: 100%
}

#home .slider {
    position: relative;
    overflow: hidden;
}

#home .gradient {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7));
    z-index: 999;
}

#home .list {
    position: relative; 
    height: 100vh; 
    width: 100%;
}

#home .item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.7s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    #home .item.active {
        opacity: 1;
    }

#home .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1000;
}

    #home .buttons button {
        width: 100px;
        height: 100vh;
        text-decoration: none;
        border: none;
        background-color: transparent;
        font-weight: 100;
        color: azure;
        font-family: monospace;
        font-size: 50px;
        opacity: 50%;
        transition: .2s ease-in-out;
    }

        #home .buttons button:hover {
            opacity: 100%;
            font-size: 70px;
            color: whitesmoke;
        }

#prev, #next {
    z-index: 1002;
}

    #prev:hover {
        background-image: linear-gradient(to right,#00000053,transparent);
    }

    #next:hover {
        background-image: linear-gradient(to left,#00000053,transparent);
    }

#home .element {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#home ::deep h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
}

#home ::deep p {
    color: white;
    width: 50%;
    font-size: 1rem;
    line-height: 25px;
}

#home ::deep .btn {
    margin-top: 5px;
}

#home ::deep a {
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

    #home ::deep a.blue {
        color: white;
        background: rgb(21, 21, 100);
        transition: 0.3s ease;
    }

        #home ::deep a.blue:hover {
            color: rgb(21, 21, 100);
            background: white;
        }

#home .dots {
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    z-index: 1001;
}

    #home .dots li {
        list-style: none;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 20px;
        background-color: whitesmoke;
        cursor: pointer;
        margin: 10px;
        transition: .5s ease-in-out;
        opacity: 60%;
    }

        #home .dots li.active {
            width: 30px;
            opacity: 80%;
        }
/* Home */


/* About Us */
#about-container {
    display: flex;
    align-items: center;
    padding: 2vw 8vw 2vw 8vw;
}

    #about-container ::deep .about-img {
        width: 60%;
        padding-right: 60px;
    }

        #about-container ::deep .about-img img {
            width: 100%;
        }

    #about-container ::deep .about-text {
        width: 40%;
    }

        #about-container ::deep .about-text h2 {
            color: #29303B;
            padding-bottom: 15px;
        }

        #about-container ::deep .about-text p {
            color: #686F7A;
            font-weight: 300;
        }

        #about-container ::deep .about-text .about-fe {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 30px;
        }

            #about-container ::deep .about-text .about-fe img {
                width: 50px;
                background-size: cover;
                background-position: center;
                margin-right: 20px;
            }

            #about-container ::deep .about-text .about-fe .fe-text {
                width: 90%;
            }

                #about-container ::deep .about-text .about-fe .fe-text h5 {
                    font-size: 16px;
                    color: #29303B;
                }
/* Akhir About Us */


/*Profile*/
#experts {
    padding: 0 8vw 0 8vw;
    text-align: center;
}

    #experts ::deep .expert-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

        #experts ::deep .expert-box .profile {
            background: #fafaf1;
            padding: 30px 10px;
        }

            #experts ::deep .expert-box .profile h6 {
                padding-top: 10px;
            }
/*Akhir Profile*/

/* Preview Kegiatan */
#preKeg {
    position: relative; 
    width: 100%;
    height: 100vh; 
    background-color: rgb(35, 35, 85);
    overflow: hidden; 
    margin: 0;
    padding: 0;
}

    #preKeg  .row .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #preKeg  .row .col .card {
            width: 500px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            position: relative;
            border-radius: 15px;
            box-shadow: 0px 2px 8px 0px ;
        }

            #preKeg  .row .col .card .card-img-top {
                width: 100%;
                height: 230px;
                overflow: hidden;
                padding: 0;
            }
                /*#preKeg .container .row .col .card .card-img-top img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-size: cover;
                }*/

            #preKeg  .row .col .card .card-body {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

    #preKeg  .row .col .card .card-title {
        text-align: center;
    }

    #preKeg .row1 {
        margin: 180px 0 0 0;
    }

        #preKeg .row1 h1 {
            color: white;
        }


    #preKeg .row2 {
        height: 55%;
        margin: 0 0;
    }

    #preKeg .row2 .card1 {
        margin:  50px 0 0;
    }

        #preKeg .row2 .card2 {
            margin: 0 0 50px 0;
        }

        #preKeg .row2 .card3 {
            margin: 0 0 75px 0;
        }

    #preKeg .row3 {
        z-index: 999;
    }

        #preKeg .row3 .col .selengkapnya {
            cursor: pointer;
        }
    #preKeg .row3 .col .selengkapnya h5 {
        color: white;
        font-size: 1.6rem;
        padding: 0 0 0 20px;
    }


@media (max-width: 768px) {
    #preKeg {
       
        height: 120vh;
        
    }
    #preKeg .row .col .card {
        width: 300px;
        height: 200px;
    }
        #preKeg .row .col .card .card-img-top {
            width: 100%;
            height: 130px;
            overflow: hidden;
            padding: 0;
        }

    #preKeg .row1 {
        margin: 85px 0 0 0;        
    }
        #preKeg .row1 h1 {
            font-size: 2.0rem;
        }

    #preKeg .row2 .card1 {
        margin: 40px 100px 25px 0;
    }

    #preKeg .row2 .card2 {
        margin: 20px 0 25px 100px;
    }

    #preKeg .row2 .card3 {
        margin: 20px 100px 25px 0;
    }

        #preKeg .row3 {
            margin: 220px 0 0 0;
        }
}
/* Akhir Preview Kegiatan */
/* Kontak */
#contact {
    padding: 5vw 8vw 5vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .kontak {
    width: 330px;
}

#contact .kontak h2{
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}   


#contact .kontak p{
    color: #686875;
    line-height: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e4ed
} 

#contact .kontak h3{
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}     

#contact .kontak .kontak-details div {
    display : flex;
}

#contact .kontak .kontak-details div .get {
    font-size : 16px;
    line-height : 22px;
    color: #5838fc;
    margin-right: 20px;
}

#contact .kontak .kontak-details div p{
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 30px;
}

#contact .laporkan {
    width: 70%;
    background: #f7f6fa;
    padding : 40px;
    border-radius: 10px;
}

#contact .laporkan h4 {
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .laporkan p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .laporkan .laporkan-row {
    display : flex;
    justify-content: space-between;
    width : 100%;
}

#contact .laporkan .laporkan-row input {
    width : 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .laporkan .laporkan-col input,
#contact .laporkan .laporkan-col textarea{
    width : 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .laporkan button {
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

#pro-links {
    margin-top: 10px;
}

.pro-links i{
    padding: 10px 13px;
    margin-right: 3px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}

.pro-links i:hover {
    background: rgb(21, 21, 100);
    color: #ffffff;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
}
/* Akhir Kontak */

/* Map */
#map {
    width: 100%;
    height: 60vh;
}

#map iframe {
    width : 100%;
    height : 100%;
}
/* Akhir Map */


/* Responsive */
@media (max-width: 769px) {
    #home ::deep p {
        width: 75%;
    }
    #about-container {
        padding: 2vw 4vw 2vw 4vw;
    }
        #about-container ::deep .about-img {
            padding-right: 30px;
        }
}

@media (max-width:670px) {
    #about-container {
        flex-direction: column-reverse;
    }
        #about-container ::deep .about-img {
            width: 100%;
            padding-right: 0px;
        }
        #about-container ::deep .about-text {
            width: 100%;
            padding-bottom: 20px;
        }
}

@media (max-width:1300px) {
    #contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
    }

    #contact .kontak {
        width : 100%;
        margin-bottom: 30px;
    }

    #contact .laporkan {
        width: 100%;
        padding: 40px 30px;
    }

    #contact .laporkan .laporkan-row {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    width : 100%;
    }

    #contact .laporkan .laporkan-row input {
        width : 100%;
    }
}
/* Akhir Responsive */


