/* ==== CSS Hero Section ==== */
#home {
    position: relative;
    width: 100%
}

    #home .slider {
        position: relative;
        overflow: hidden;
    }

    #home .gradient {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7));
        z-index: 999;
    }

    #home .list {
        position: relative; 
        height: 100vh; 
        width: 100%;
    }

    #home .item {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1.7s ease;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

        #home .item.active {
            opacity: 1;
        }

    #home .buttons {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 1000;
    }

        #home .buttons button {
            width: 100px;
            height: 100vh;
            text-decoration: none;
            border: none;
            background-color: transparent;
            font-weight: 100;
            color: azure;
            font-family: monospace;
            font-size: 50px;
            opacity: 50%;
            transition: .2s ease-in-out;
        }

            #home .buttons button:hover {
                opacity: 100%;
                font-size: 70px;
                color: whitesmoke;
            }

    #prev, #next {
        z-index: 1002;
    }

        #prev:hover {
            background-image: linear-gradient(to right,#00000053,transparent);
        }

        #next:hover {
            background-image: linear-gradient(to left,#00000053,transparent);
        }

    #home .element {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    #home ::deep h2 {
        color: white;
        font-size: 3rem;
        letter-spacing: 1px;
    }

    #home ::deep p {
        color: white;
        width: 50%;
        font-size: 1rem;
        line-height: 25px;
    }

    #home ::deep .btn {
        margin-top: 5px;
    }

    #home ::deep a {
        text-decoration: none;
        font-size: 1rem;
        padding: 13px 35px;
        background-color: white;
        font-weight: 600;
        border-radius: 5px;
    }

        #home ::deep a.blue {
            color: white;
            background: rgb(21, 21, 100);
            transition: 0.3s ease;
        }

            #home ::deep a.blue:hover {
                color: rgb(21, 21, 100);
                background: white;
            }

    #home .dots {
        padding: 0;
        text-align: center;
        position: absolute;
        bottom: 10px;
        width: 100%;
        left: 0;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        z-index: 1000;
    }

        #home .dots li {
            list-style: none;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 20px;
            background-color: whitesmoke;
            cursor: pointer;
            margin: 10px;
            transition: .5s ease-in-out;
            opacity: 60%;
        }

            #home .dots li.active {
                width: 30px;
                opacity: 80%;
            }
/* ==== Akhir CSS Hero Section ==== */


/* ==== CSS About Us ==== */
#about-container {
    display: flex;
    align-items: center;
    padding: 4vw 8vw 2vw 8vw;
}

    #about-container ::deep .about-img {
        width: 60%;
        padding-right: 60px;
    }

        #about-container ::deep .about-img img {
            width: 100%;
        }

    #about-container ::deep .about-text {
        width: 40%;
    }

        #about-container ::deep .about-text h2 {
            color: #29303B;
            padding-bottom: 15px;
        }

        #about-container ::deep .about-text p {
            color: #686F7A;
            font-weight: 300;
        }

        #about-container ::deep .about-text .about-fe {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 30px;
        }

            #about-container ::deep .about-text .about-fe img {
                width: 50px;
                background-size: cover;
                background-position: center;
                margin-right: 20px;
            }

            #about-container ::deep .about-text .about-fe .fe-text {
                width: 90%;
            }

                #about-container ::deep .about-text .about-fe .fe-text h5 {
                    font-size: 16px;
                    color: #29303B;
                }
/* ==== Akhir CSS About Us ==== */


/* ==== CSS Pengurus Angkatan ==== */
#experts {
    padding: 2vw 8vw 0 8vw;
    text-align: center;
}

    #experts ::deep .expert-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

        #experts ::deep .expert-box .profile {
            background: #fafaf1;
            padding: 30px 10px;
        }

            #experts ::deep .expert-box .profile h6 {
                padding-top: 15px;
            }

    ::deep .cover-generaluser {
        width: 165px;
        height: 165px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 1rem;
        margin: 0 auto;
    }

        ::deep .cover-generaluser img{
            width: 100%;
            height: 100%;
            background-size: cover;
            object-fit: cover;
        }
/* ==== Akhir CSS Pengurus Angkatan ==== */



/* ==== CSS Preview Siters ==== */
#preSiters {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::deep .owl-stage-outer {
    margin-top : 25px;
    padding: 0 5px !important;
}

#preSiters .sitewrapper {
    max-width: 1550px; /* panjang wrap */
    width: 100%;
    position: relative;
    overflow: hidden;
}

#preSiters .card[b-xtzi2rkw2t] {
    margin-left: 7px;
    margin-right: 14px;
}

::deep .owl-prev,
::deep .owl-next {
    position: absolute !important;
    background: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    top: calc(50% - 25px);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2.2rem !important;
    z-index: 9999;
    opacity: 1;
    text-align: center;
    transition: transform 0.1s linear;
}

::deep .owl-next span {
    position: absolute;
    top: -5%;
    left: 43%;
}

    ::deep .owl-prev span {
        position: absolute;
        top: -5%;
        left: 38%;
    }

    ::deep .owl-prev.disabled,
    ::deep .owl-next.disabled {
        opacity: 0 !important;
    }

    ::deep .owl-prev:active,
    ::deep .owl-next:active {
        transform: translateY(-50%) scale(0.85);
    }

    ::deep .owl-prev:hover,
    ::deep .owl-next:hover {
        color: black !important;
    }

::deep .owl-prev {
    left: -3px !important;
}

::deep .owl-next {
    right: -3px !important;
}

#preSiters .card {
    flex: 0 0 calc((100% - 84px) / 5); /* 5 cards fit */
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin: 7px;
}

#preSiters .cover-profil-img {
    width: 128px;
    height: 128px;
    clip-path: circle(60px at center);
    margin-top: 1rem;
    margin: 0 auto;
    overflow: hidden
}

#preSiters .cover-profil-img .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

#preSiters .name-profile {
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

#preSiters .name2-profile {
    font-size: 1.1rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
}

#preSiters .cover-bio {
    margin: 1rem auto;
    height: 45px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #preSiters .cover-bio .bio {
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }


#preSiters ::deep .btn-profile {
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: rgb(35, 35, 85);
    padding: 1rem;
    margin-top: auto;
    text-decoration: none;
    display: inline-block;
}

    #preSiters ::deep .btn-profile:hover {
        text-decoration: none;
        background: rgb(30, 30, 64);
        color: white;
    }

#preSiters .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preSiters .name-profile,
#preSiters .name2-profile {
    width: 100%;
}

/* Custom Last-Card */
#preSiters .last-card {
    position: relative;
    padding: 0;
    height: 100%;
}

#preSiters .card-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 367.86px;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

#preSiters .content-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* ==== Akhir CSS Preview Siters ==== */



/* ==== CSS Preview Kegiatan ==== */
#preKeg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    margin: 5vw 0vw 0vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentPreKeg {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, #353483);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1; 
}

    ::deep .parallax-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 140%;
        object-fit: cover;
        opacity: 10%;
        z-index: 0; 
    }


#preKeg .row {
    width: 100%;
    z-index: 2;
}

    #preKeg .row .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #preKeg .row .col .card {
            width: 450px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
            border: none;
        }

            #preKeg .row .col .card .card-img-top {
                width: 100%;
                /*height: 245px;*/
                height: 100%;
                overflow: hidden;
                padding: 0;
            }

            #preKeg .row .col .card .card-body {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #preKeg .row .col .card .card-title {
                text-align: center;
                margin: 0;
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis; 
                width: 100%; 
                display: block; 
            }

#preKeg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff00, #0000008c, #000000bf);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2; 
}

#preKeg .overlay-content {
    padding-top: 150px;
    text-align: center;
}

.overlay-content h5 {
    font-size: 1.5rem;
    margin: 0 2rem 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay-content p {
    margin: 0.25rem 0;
    font-size: 1rem;
}

#preKeg .card:hover .overlay,
#preKeg .card:active .overlay {
    opacity: 1;
    cursor: pointer;
}

#preKeg .row1 {
    margin-top: 3rem;
}

    #preKeg .row1 .col {
        padding: 0 30px;
        text-align: center;
    }

    #preKeg .row1 h2 {
        color: white;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    }

#preKeg .row2 {
    height: 60%;
    margin: 50px 0 80px 0;
    padding: 0 150px;
}

    #preKeg .row2 .card1 {
        margin-bottom: 0;
    }

#preKeg .row3 {
    z-index: 999;
    margin-bottom: 7rem;
}

    #preKeg .row3 .col .selengkapnya {
        cursor: pointer;
    }

        #preKeg .row3 .col .selengkapnya h3 {
            color: white;
            padding: 0 0 0 20px;
            opacity: 0.7;
            transition: .3s ease;
            transition-property: opacity;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
        }

            #preKeg .row3 .col .selengkapnya h5:hover {
                opacity: 1
            }

/* ==== Akhir CSS Preview Kegiatan ==== */


/* ==== CSS Map ==== */
#map {
    margin: 5vw 0vw;
    width: 100%;
    height: 60vh;
}

#map iframe {
    width : 100%;
    height : 100%;
}
/* ==== Akhir CSS Map ==== */


/* ==================================== Responsive ==================================== */

/* == RESPONSIVE CSS GABUNGAN HOME & ABOUT US == */
/* Responsive MAX 670px */
@media (max-width: 486px) {
    #home h2 {
        font-size: 35px !important;
    }
}


@media (max-width:670px) {
    #about-container {
        flex-direction: column-reverse;
    }

        #about-container ::deep .about-img {
            width: 100%;
            padding-right: 0px;
        }

        #about-container ::deep .about-text {
            width: 100%;
            padding-bottom: 20px;
        }
}

/* Responsive MAX 769px */
@media (max-width: 769px) {
    #home ::deep p {
        width: 75%;
    }
    #about-container {
        padding: 2vw 4vw 2vw 4vw;
    }
        #about-container ::deep .about-img {
            padding-right: 30px;
        }
}

/* == AKHIR RESPONSIVE CSS GABUNGAN HOME & ABOUT US == */


/* == RESPONSIVE CSS PREVIEW SITERS == */
/* Responsive MAX 500px */
@media (max-width: 500px) {

    #preSiters .sitewrapper {
        max-width: 350px;
    }
}

/* Responsive MAX 1500px */
@media (max-width: 1500px) {

    #preSiters {
        padding: 0 8vw 0 8vw;
        text-align: center;
    }
}

/* Responsive MAX 1550px */
@media (max-width: 1550px) {

    #preSiters .sitewrapper {
        max-width: 1300px;
    }
}
/* == AKHIR RESPONSIVE CSS PREVIEW SITERS == */


/* == RESPONSIVE CSS PREVIEW KEGIATAN == */
/* Responsive MAX 767px */
@media (max-width: 767px) {
    #preKeg {
        height: 1120px;
    }


    .parallax-bg {
        height: 100%;
    }

    #preKeg .row .col .card {
        width: 300px;
        height: 200px;
    }

    /*#preKeg .row .col .card .card-img-top {
            width: 100%;
            height: 140px;
            overflow: hidden;
            padding: 0;
        }*/

    #preKeg .row1 {
        margin-top: 85px;
    }

        #preKeg .row1 h1 {
            font-size: 2rem;
        }

    #preKeg .row2 {
        margin: 0 0 80px 0;
        padding: 0 45px !important;
    }

        #preKeg .row2 .card1 {
            margin: 2rem 0;
        }

    #preKeg .row3 {
        margin-top: 60px;
    }

    #preKeg .overlay-content {
        padding-top: 80px;
        text-align: center;
    }
}

/* Responsive MAX 1545px */
@media (max-width: 1545px) {
    .parallax-bg {
        height: 140vh;
    }

    #preKeg .row .col .card {
        width: 320px;
        height: 210px;
    }

    /*#preKeg .row .col .card .card-img-top {
            width: 100%;
            height: 155px;
        }*/

    #preKeg .row1 {
        margin-top: 2rem;
    }

    #preKeg .row2 {
        padding: 0 100px;
    }

    #preKeg .row3 {
        margin-bottom: 5rem;
    }


    #preKeg .overlay-content {
        padding-top: 100px;
        text-align: center;
    }

    ::deep .overlay-content h5 {
        font-size: 1rem;
        margin: 0 2rem 0.5rem;
    }

    ::deep .overlay-content p {
        margin: 0.2rem 0;
        font-size: 0.8rem;
    }
}
/* == AKHIR RESPONSIVE CSS PREVIEW KEGIATAN == */

/* ======================================= Akhir Responsive ======================================= */


