@{
    ViewData["title"] = "LaporError";
    ViewData["Active"] = "Home";
}

<!-- ==== Laporkan ==== -->
<section id="contact">
    <div class="laporkan">
        <!-- Judul -->
        <h4>Laporkan Error</h4>
        <!-- Deskripsi Singkat -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <!-- Input -->
        <div class="laporkan-row">
            <input type="text" placeholder="Nama" />
            <input type="text" placeholder="Email" />
        </div>
        <div class="laporkan-col">
            <input type="text" placeholder="Subject" />
        </div>
        <div class="laporkan-col">
            <textarea name="" id="" cols="30" rows="8" placeholder="Isi Pesan"></textarea>
        </div>
        <!-- Button Kirim Pesan -->
        <div class="laporkan-col">
            <button>Kirim Pesan</button>          
        </div>
    </div>
</section>
<!-- ==== Akhir Laporkan ==== -->