@{
    ViewData["title"] = "LaporError";
    ViewData["Active"] = "Home";
}

@*Kontak dan Laporkan Error*@
<section id="contact">
@*    <div class="kontak">
        <h2>Hubungi Kami</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

        <div class="kontak-details">
            <h3>Email Admin</h3>
            <div>
                <i class="ri-mail-line get"></i>
                <p>siteunc22@gmail.com</p>
            </div>
            <h3>Telepon</h3>
            <div>
                <i class="ri-phone-line get"></i>
                <p>(+62) 1234511891 (Manusia)<br />(+62) 2144711486 (Manusia)</p>
            </div>
            <h3>Instagram</h3>
            <div>
                <i class="ri-instagram-line get"></i>
                <p>site22.unc</p>
            </div>
            <h3>Ikuti Kami</h3>
            <div class="pro-links">
                <i class="ri-instagram-line"></i>
                <i class="ri-github-fill"></i>
                <i class="ri-discord-line"></i>
            </div>
        </div>
    </div>*@
    <div class="laporkan">
        <h4>Laporkan Error</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="laporkan-row">
            <input type="text" placeholder="Nama" />
            <input type="text" placeholder="Email" />
        </div>
        <div class="laporkan-col">
            <input type="text" placeholder="Subject" />
        </div>
        <div class="laporkan-col">
            <textarea name="" id="" cols="30" rows="8" placeholder="Isi Pesan"></textarea>
        </div>
        <div class="laporkan-col">
            <button>Kirim Pesan</button>
            <a asp-area="" asp-controller="Home" asp-action="Index">Kembali</a>
        </div>
    </div>
</section>