@{
    ViewData["title"] = "LaporError";
    ViewData["Active"] = "Home";
}

<section id="contact">
    <div class="laporkan">
        <h4>Laporkan Error</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="laporkan-row">
            <input type="text" placeholder="Nama" />
            <input type="text" placeholder="Email" />
        </div>
        <div class="laporkan-col">
            <input type="text" placeholder="Subject" />
        </div>
        <div class="laporkan-col">
            <textarea name="" id="" cols="30" rows="8" placeholder="Isi Pesan"></textarea>
        </div>
        <div class="laporkan-col">
            <button>Kirim Pesan</button>          
        </div>
    </div>
</section>