/* ==== CSS Laporkan Error ==== */
#contact {
    padding: 2vw 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #contact .laporkan {
        width: 80%;
        background: #f7f6fa;
        padding: 40px;
        border-radius: 10px;
    }

        #contact .laporkan h4 {
            font-size: 24px;
            color: #2c234d;
            line-height: 30px;
            margin-bottom: 8px;
        }

        #contact .laporkan p {
            color: #686875;
            line-height: 24px;
            padding-bottom: 25px;
        }

        #contact .laporkan .laporkan-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            #contact .laporkan .laporkan-row input {
                width: 48%;
                font-size: 14px;
                font-weight: 400;
                border-radius: 3px;
                border: none;
                background: #fff;
                color: #7e7c87;
                outline: none;
                padding: 20px 30px;
                margin-bottom: 20px;
            }

        #contact .laporkan .laporkan-col input,
        #contact .laporkan .laporkan-col textarea {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            border-radius: 3px;
            border: none;
            background: #fff;
            color: #7e7c87;
            outline: none;
            padding: 20px 30px;
            margin-bottom: 20px;
        }

        #contact .laporkan .laporkan-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        #contact .laporkan button,
        #contact .laporkan a {
            font-size: 0.9rem;
            padding: 13px 25px;
            background: rgb(21, 21, 100);
            border-radius: 5px;
            outline: none;
            border: none;
            font-weight: 600;
            cursor: pointer;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            width: 100%;
            margin-bottom: 10px;
        }
/* ==== Akhir CSS Laporkan Error ==== */

/* =============================== Responsive =============================== */
/* Responsive MAX 1300px */
@media (max-width: 1300px) {
    #contact {
        padding: 4vw 1vw 2vw 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Responsive MAX 600px */
@media (max-width: 600px) {
    #contact {
        padding: 10vw 10vw;
    }

        #contact .laporkan {
            width: 100%;
            padding: 20px;
        }

            #contact .laporkan .laporkan-row {
                flex-direction: column;
            }

                #contact .laporkan .laporkan-row input {
                    width: 100%;
                    margin-bottom: 20px;
                }

            #contact .laporkan .laporkan-col {
                width: 100%;
            }

                #contact .laporkan .laporkan-col input,
                #contact .laporkan .laporkan-col textarea {
                    width: 100%;
                }

            #contact .laporkan .laporkan-col {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

                #contact .laporkan .laporkan-col button,
                #contact .laporkan .laporkan-col a {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }
}
/* =============================== Akhir Responsive =============================== */