<!-- Content 404 Section -->
<div class="containerku">
    <img src="~/img/bad_request.png"/>
    <h1>Permintaan Buruk</h1>
    <h3>Permintaan Anda tidak dapat diproses!</h3>
    <a class="btn btn-custom" asp-action="Index" asp-controller="Home" asp-area="">Kembali ke Beranda</a>
</div>
<!-- Akhir Content 404 Section -->