<!-- Content 404 Section -->
<div class="containerku">
    <img src="~/img/page_not_found2.png"/>
    <h1>Halaman Tidak Ditemukan</h1>
    <h3>Halaman yang anda cari tidak ditemukan!</h3>
    <a class="btn btn-custom" asp-action="Index" asp-controller="Home" asp-area="">Kembali ke Beranda</a>
</div>
<!-- Akhir Content 404 Section -->