<!-- Content 404 Section -->
<div class="containerku">
    <img src="~/img/internal_bad_server.png"/>
    <h1>Kesalahan Internal Server</h1>
    <h3>Terjadi kesalahan pada server kami!</h3>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home" asp-area="">Kembali ke Beranda</a>
</div>
<!-- Akhir Content 404 Section -->