.containerku {
    text-align: center;
    margin-top: 12rem;
    font-family: 'poppins';
    padding-bottom: 50px;
}

    .containerku h1 {
        font-size: 40px;
        margin-top: 10px;
        color: #333;
        font-weight: bold;   
    }

    .containerku h3 {
        font-size: 18px;
        color: var(--dark-text-clr);
        font-weight: 500;
        margin-bottom: 20px;
    }

    .containerku ::deep img {
        max-width: 100%;
        height: auto;
    }