<!-- Content 404 Section -->
<div class="containerku">
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <dotlottie-player src="https://lottie.host/24c41748-1f15-4b2b-89f1-ba4bab1c39b0/LQ2gWKSdaI.json" background="transparent" speed="1" style="max-width: 500px; max-height: 500px;" loop autoplay></dotlottie-player>
    </div>
    <h2>Halaman Tidak Ditemukan</h2>
    <h4>Halaman yang anda cari tidak ditemukan!</h4>
    <a class="btn btn-custom" asp-action="Index" asp-controller="Home" asp-area="">Kembali ke Beranda</a>
</div>
<!-- Akhir Content 404 Section -->