<!-- Content 500 Section -->
<div class="containerku">
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <dotlottie-player src="https://lottie.host/f86c61d4-67c5-4687-ad4a-788b98b8aae7/HRHHa8L35u.json" background="transparent" speed="1" style="max-width: 500px; max-height: 500px;" loop autoplay></dotlottie-player>
    </div>
    <h2>Kesalahan Internal Server</h2>
    <h4>Terjadi kesalahan pada server kami!</h4>
    <a class="btn btn-custom" asp-action="Index" asp-controller="Home" asp-area="">Kembali ke Beranda</a>
</div>
<!-- Akhir Content 500 Section -->