.kegiaatan {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

    .kegiaatan .title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .kegiaatan .breadcrumbs {
        display: flex;
        grid-gap: 6px;
        padding: 0;
        margin: 0;
    }

        .kegiaatan .breadcrumbs li,
        .kegiaatan .breadcrumbs li a {
            font-size: 14px;
        }

            .kegiaatan .breadcrumbs li a {
                color: var(--blue);
            }

                .kegiaatan .breadcrumbs li a.active,
                .kegiaatan .breadcrumbs li.divider {
                    color: var(--dark-grey);
                    pointer-events: none;
                }

/* CSS Datatable */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .table th, .table td {
        padding: 12px 15px;
        text-align: left;
    }

    .table thead th {
        text-transform: uppercase;
        background-color: var(--primary-clr);
        color: #fff;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .table tbody tr:hover {
            background-color: #f1f1f1;
        }

.img-fluid {
    max-width: 50px;
    height: auto;
    border-radius: 5px;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

::deep label {
    margin-bottom: 10px;
}
/* Akhir CSS Datatable */

::deep a.btn {
    padding: 10px 18px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    max-width: 300px; /* Batas maksimum lebar tombol */
}

    ::deep a.btn:hover {
        border: 1px solid var(--primary-clr);
    }



::deep .btn:focus,
.btn:active,
.btn:focus:active,
.btn.collis:focus,
.btn.collis:active,
.btn.collis:focus:active {
    outline: none;
    box-shadow: none;
}
