/* Responsive */
@media screen and (max-width: 600px) {
    .wrapper-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-input {
        width: 75%;
    }
}

@media screen and (min-width: 760px) {
    .wrapper-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1250px) {
    .wrapper-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .search-container {
        padding: 0;    
    }   
}
/* Akhir Responsive */
