/* ================================================= Responsive =================================================  */

/* Responsive MIN 1250px */
@media screen and (min-width: 1250px) {
    .wrapper-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .search-container {
        padding: 0;
    }
}

/* Responsive MIN 760px */
@media screen and (min-width: 760px) {
    .wrapper-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive MAX 992px */
@media screen and (max-width: 992px) {

    .container-mahasiswa {
        margin: 0;
    }
}

/* Responsive MAX 600px */
@media screen and (max-width: 600px) {
    .wrapper-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .search-input {
        width: 100%;
    }
}

/* Responsive MAX 360px */
@media screen and (max-width: 360px) {
    ::deep .pagination-button {
        padding: 5px 10px;
    }
}