@model bool

@* Ini Progress Bar *@
<div class="progressbar">
    <div class="progress-step @(Model ? "" : "progress-active")" data-title="Pendaftaran"></div>
    <div class="progress-step @(Model ? "progress-active" : "")" data-title="Masuk Grup WA"></div>
</div>
@* Ini Akhir Progress Bar *@