

.container-lomba-solo {
    margin: 8vw 30vw 5vw;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 15px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    position: relative; 
    z-index: 1;
}

    .container-lomba-solo .judul-lomba h3 {
        font-size: 38px;
        margin: 0px;
        font-weight: 600;
    }

    .container-lomba-solo p {
        font-size: 15px;
    }

        .container-lomba-solo p a {
            color: #1d539e;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
        }

            .container-lomba-solo p a:hover,
            .container-lomba-solo p a:active {
                color: #1f9f5d;
                text-decoration: underline;
            }

/* Akhir CSS type input Text dan Textarea */

@media (max-width: 768px) {
    .container-lomba-solo {
        margin: 20vw 5vw 5vw;
    }
}
