@model Lomba

<partial name="_MenuPartial" model=@true/>
<h1>Daftar Sukses</h1>

<p>Gabung ke grup wa lomba : <a href="@Model.LinkGrupWa.ToString()" target="_blank" rel="nofollow noreferrer">Link Grup WA</a></p>
<a class="btn btn-primary" asp-action="Index" asp-controller="Pensi" asp-area="">Selesai</a>