/* Progress Bar */
.progressbar {
    display: flex;
    position: relative;
    justify-content: space-around;
    counter-reset: step;
    margin: 0rem 0 3.5rem;
}

    .progressbar::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 50%;
        background-color: #dcdcdc;
        z-index: -1;
    }

.progress-step {
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .progress-step::before {
        counter-increment: step;
        content: counter(step);
    }

    .progress-step::after {
        content: attr(data-title);
        position: absolute;
        top: calc(100% + 0.75rem);
        font-size: 0.85rem;
        color: #666;
    }


/* === Warna coklat di angka pertama === */
.progress-active-pertama {
    background-color: var(--first-color);
    color: white;
}

/* Akhir Progress Bar */


.container-lomba-tim {
    margin: 8vw 30vw 5vw;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 15px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.judul-lomba {
    padding-top: 25px;
    border-top: 1px solid #dcdcdc;
}

    .container-lomba-tim .judul-lomba h3 {
        font-size: 38px;
        margin: 0px;
        font-weight: 600;
    }

    .container-lomba-tim .judul-lomba p {
        font-size: 15px;
    }

    .container-lomba-tim .container-ketentuan {
        margin-bottom: 20px;
    }

        .container-lomba-tim .container-ketentuan a {
            text-decoration: none;
            background-color: var(--first-color);
            padding: 5px 13px;
            border-radius: 8px;
            color: white;
            font-size: 13px;
            cursor: pointer;
        }

            .container-lomba-tim .container-ketentuan a:hover {
                color: white;
            }

::deep .input-pensi:focus {
    border: 1px solid #000000;
}

h4 {
    font-size : 23px;
    font-weight: 500;
    margin-bottom: 10px;
}


/* CSS type input Text dan Textarea */
::deep .input-box label {
    color: #333;
    margin-bottom: 3px;
    font-size: 16px;
}

::deep .input-box input {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box select {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 16px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
/* Akhir CSS type input Text dan Textarea */


/* Checkbox */
.form-check {
    margin-bottom: 20px;
}

::deep .form-check .form-check-input {
    width: 20px;
    height: 20px;
    text-align: center;
}

    ::deep .form-check .form-check-input:focus {
        /*border: 1px solid #000000;*/
        outline: none;
        box-shadow: none;
    }

.form-check-label {
    padding-top: 3px;
    margin-left: 10px;
    font-size: 15px;
}



@media (max-width: 1088px) {
    .container-lomba-tim {
        margin: 100px 5vw 5vw;
    }

        ::deep .container-lomba-tim .container-ketentuan a {
            font-size: .67rem;
        }
}

@media (max-width: 483px) {
    .container-lomba-tim .container-ketentuan a {
        font-size: .75rem;
    }
}


@media (max-width: 457px) {
    .container-lomba-tim .container-ketentuan a {
        font-size: .67rem;
    }
}

@media (max-width: 424px) {
    .container-lomba-tim .container-ketentuan a {
        font-size: .60rem;
    }
}
