@model Lomba
@{
    ViewData["Title"] = "Daftar";
    ViewData["Active"] = "Pengumuman";
}

<style>
    :root {
        --hue: 312;
        --first-color: hsl(var(--hue), 24%, 32%);
        --first-color-alt: hsl(var(--hue), 24%, 28%);
    }

    body {
        background: none; 
    }

    .bg-pendaftaran-solo img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; 
    }

    .btn-custom {
        background-color: var(--first-color);
        border: none;
    }

        .btn-custom:hover {
            background-color: var(--first-color-alt);
        }
</style>


<div class="bg-pendaftaran-solo">
    <img src="~/img/bg-pendafataran-pensi.jpg" alt="Background Image" />
</div>

<div class="container-lomba-solo animate__animated animate__fadeIn">
    <partial name="_ProgressPartial" model=@true />

    <div class="judul-lomba">
        <h3>Daftar Sukses</h3>
    </div>

    <div class="mt-1">
        <p>Silahkan Bergabung ke Grup WA Lomba : 
            <a href="@Model.LinkGrupWa.ToString()" target="_blank" rel="nofollow noreferrer"> @Model.LinkGrupWa.ToString()</a>
        </p>
    </div>

    <div class=" mt-5">
        <a class="btn-custom w-100" style="border-radius: 10px; padding: 10px 15px;" asp-action="Index" asp-controller="Pensi" asp-area="">Selesai</a>
    </div>
</div>
