.judul-lomba .breadcrumbs {
    display: flex;
    grid-gap: 6px;
    padding: 0;
    margin: 0;
}

    .judul-lomba .breadcrumbs li,
    .judul-lomba .breadcrumbs li ::deep a {
        font-size: 14px;
        text-decoration: none;
        list-style: none;
    }

        .judul-lomba .breadcrumbs li ::deep a {
            color: #1775F1;
            text-decoration: none;
        }

        .judul-lomba .breadcrumbs li a.active,
        .judul-lomba .breadcrumbs li.divider {
            color: #8D8D8D;
            pointer-events: none;
        }

.container-lomba-pasangan {
    margin: 8vw 30vw 5vw;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 15px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.judul-lomba {
    padding-top: 25px;
    border-top: 1px solid #dcdcdc;
}

    .container-lomba-pasangan .judul-lomba h3 {
        font-size: 38px;
        margin: 0px;
        font-weight: 600;
    }

    .container-lomba-pasangan .judul-lomba p {
        font-size: 15px;
    }

    .container-lomba-pasangan .container-ketentuan {
        margin-bottom: 20px;
    }

        .container-lomba-pasangan .container-ketentuan a {
            text-decoration: none;
            background-color: var(--first-color);
            padding: 5px 13px;
            border-radius: 8px;
            color: white;
            font-size: 13px;
            cursor: pointer;
        }

            .container-lomba-pasangan .container-ketentuan a:hover {
                color: white;
            }

::deep .input-pensi:focus {
    border: 1px solid #000000;
}

h4 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}


/* CSS type input Text dan Textarea */
::deep .input-box label {
    color: #333;
    margin-bottom: 3px;
    font-size: 16px;
}

::deep .input-box input {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box select {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    background: #ffffff;
}

::deep .input-box textarea {
    position: relative;
    font-size: 16px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
/* Akhir CSS type input Text dan Textarea */


/* Checkbox */
.form-check {
    margin-bottom: 20px;
}

::deep .form-check .form-check-input {
    width: 20px;
    height: 20px;
    text-align: center;
}

    ::deep .form-check .form-check-input:focus {
        /*            border: 1px solid #000000;*/
        outline: none;
        box-shadow: none;
    }

.form-check-label {
    padding-top: 3px;
    margin-left: 10px;
    font-size: 15px;
}



@media (max-width: 1088px) {
    .container-lomba-pasangan {
        margin: 100px 5vw 5vw;
        padding: 50px 20px 20px;
    }

    ::deep .container-lomba-pasangan .container-ketentuan a {
        font-size: .67rem;
    }

    ::deep .input-box label {
        font-size: 15px;
    }

    ::deep .input-box input {
        font-size: 15px;
    }

    ::deep .input-box select {
        font-size: 15px;
    }

    ::deep .input-box textarea {
        font-size: 15px;
    }
}

@media (max-width: 486px) {
    .judul-lomba .breadcrumbs li,
    .judul-lomba .breadcrumbs li ::deep a {
        font-size: 12px;
    }
}

@media (max-width: 424px) {
    .container-lomba-pasangan .container-ketentuan a {
        font-size: .70rem;
    }
}

@media (max-width: 380px) {
    .container-lomba-pasangan .container-ketentuan a {
        font-size: .60rem;
    }
}

@media (max-width: 330px) {
    .container-lomba-pasangan .container-ketentuan a {
        font-size: .55rem;
    }
}
