

.container-lomba-solo {
    margin: 8vw 30vw 5vw;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    border-radius: 15px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    position: relative; 
    z-index: 1;
}

    .container-lomba-solo .content {
        width: 100%;
        text-align: center;
    }

    .content .judul-lomba h3 {
        font-size: 38px;
        margin: 0px;
        font-weight: 600;
    }

.content p {
    font-size: 15px;
}

    .content a {
        color: #1d539e;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        display: block;
        text-align: center;
    }

            .content a:hover,
            .content a:active {
                color: #1f9f5d;
                text-decoration: underline;
            }

/* Akhir CSS type input Text dan Textarea */

@media (max-width: 1273px) {
    .container-lomba-solo {
        margin: 100px 20vw 50px;
        padding: 20px;
    }

        .container-lomba-solo .content .judul-lomba h3 {
            font-size: 24px;
        }

    .content p {
        font-size: 14px;
    }
}


@media (max-width: 700px) {
    .container-lomba-solo {
        margin: 100px 5vw 5vw;
    }
}


@media (max-width: 460px) {
    ::deep .content img {
        width: 80%;
        height: 80%;
    }
}
