::deep .foto-container.selected {
    background: var(--primary-clr)
}

::deep .foto-container {
    background: white;
}

/* Gambar Form */
.dvPreview {
    height: 400px;
    width: 400px;
    overflow: scroll;
    border-style: solid;
    border-width: medium;
    padding: 3px 3px 3px 3px;
}

    .dvPreview:not(.multi) ::deep img {
        object-fit: contain;
    }

        .dvPreview.multi ::deep img {
            object-fit: cover;
            width: 100%;
            height: 80px !important;
        }

    .dvPreview div#dash {
        border-style: dashed;
        border-width: medium;
    }
/* Akhir Gambar Form */
