@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    ViewData["Active"] = "Daftar";

}

<section id="register-form" class="mb-5 pb-5">
    <div class="container mt-4 animate__animated animate__backInDown">
        <h1>Daftarkan akun anda</h1>
        <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="divider">
                <div class="line"></div>
                <div class="line"></div>
            </div>


            <!-- Email Input -->
            <div class="col-md-4">
                <label asp-for="Input.Email">Email:</label>
                <div class="custome-input">
                    <input asp-for="Input.Email" type="email" placeholder="Email" autocomplete="username"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>

            <!-- Password Input -->
            <div class="col-md-4">
                <label asp-for="Input.Password">Password:</label>
                <div class="custome-input">
                    <input asp-for="Input.Password" type="password" placeholder="Password" autocomplete="new-password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>

            <!-- Confirm Password Input -->
            <div class="col-md-4">
                <label asp-for="Input.ConfirmPassword">Konfirmasi Password:</label>
                <div class="custome-input">
                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Konfirmasi Password" autocomplete="new-password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <!-- Nim Input -->
            <div class="col-md-4">
                <label asp-for="Input.Nim">NIM:</label>
                <div class="custome-input">
                    <input asp-for="Input.Nim" placeholder="NIM" autocomplete="2206080000"/>
                    <span asp-validation-for="Input.Nim" class="text-danger"></span>
                </div>
            </div>

            <!-- Nama Lengkap Input -->
            <div class="col-md-4">
                <label asp-for="Input.NamaLengkap">Nama Lengkap:</label>
                <div class="custome-input">
                    <input asp-for="Input.NamaLengkap" type="text" placeholder="Nama Lengkap" autocomplete=""/>
                    <span asp-validation-for="Input.NamaLengkap" class="text-danger"></span>
                </div>
            </div>

            <!-- Nama Panggilan Input -->
            <div class="col-md-4">
                <label asp-for="Input.NamaPanggilan">Nama Panggilan:</label>
                <div class="custome-input">
                    <input asp-for="Input.NamaPanggilan" type="text" placeholder="Nama Panggilan" autocomplete=""/>
                    <span asp-validation-for="Input.NamaPanggilan" class="text-danger"></span>
                </div>
            </div>

            <!-- Tanggal Lahir Input -->
            <div class="col-md-4">
                <label asp-for="Input.TanggalLahir">Tanggal Lahir:</label>
                <div class="custome-input">
                    <input asp-for="Input.TanggalLahir" type="date"/>
                    <span asp-validation-for="Input.TanggalLahir" class="text-danger"></span>
                </div>
            </div>

            <!-- Jenis Kelamin Input -->
            <div class="col-md-4">
                <label asp-for="Input.JenisKelamin">Jenis Kelamin:</label>
                <div class="custome-input">
                    <select asp-for="Input.JenisKelamin" class="form-control">
                        @foreach (JenisKelamin jk in Enum.GetValues(typeof(JenisKelamin)))
                        {
                            <option value="@jk">@JenisKelaminExtension.ToString(jk)</option>
                        }
                    </select>
                    <span asp-validation-for="Input.JenisKelamin" class="text-danger"></span>
                </div>
            </div>

            <!-- Login Button -->
            <div class="col-md-12">
                <button id="registerSubmit" type="submit" class="login">Daftar</button>
            </div>

            <!-- Links -->
            <div class="col-md-12 links">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sudah Punya Akun ?</a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
