@model List<PesertaLomba>

<div class="container">
    <ul class="responsive-table">
        @{
            int nomor = 1;
        }
        @foreach (var mahasiswa in Model)
        {
            <li class="table-row">
                <!-- Nomor -->
                <div class="col-1 text-center">
                    <span class="participant-number">@nomor</span>
                </div>
                <!-- Nama Peserta -->
                <div class="col-4 text-center">
                    <span class="participant-name">@mahasiswa.Nama</span>
                </div>
                <!-- NIM -->
                <div class="col-4 text-center">
                    <span class="participant-nim">@mahasiswa.Nim.Value</span>
                </div>
                <!-- Jenis Kelamin -->
                <div class="col-3 text-center">
                    <span class="participant-gender">@mahasiswa.JenisKelamin</span>
                </div>
            </li>
            nomor++;
        }
    </ul>
</div>
