@model FotoViewModel
@{
    ViewData["Title"] = "ALbum";
    ViewData["Active"] = "Album";
}

<div class="row pt-5">
    <div class="col gap-3 d-flex">
        <a href="@ViewData["ReturnUrl"]" class="btn btn-primary">Kembali</a>
        <h2>@Model.IdKegiatan</h2>
    </div>
</div>
<div class="row">
    @foreach (var foto in Model.DaftarFoto)
    {
        <div class="col-4 p-2">
            <a asp-action="DetailFoto" asp-route-id="@foto.Id">
                <img src="@Url.ActionLink("Foto", "File", new {Id = foto.Id, Area=""})" class="img-thumbnail" />
            </a>
        </div>
    }
</div>

