@model AlbumVM
@{
    ViewData["Title"] = "Album";
    ViewData["Active"] = "Album";
}

<div class="row animate__animated animate__fadeInLeft">
    <div class="top col gap-3 d-flex" style="margin: 0; padding: 0">
        <a href="@ViewData["ReturnUrl"]" style="width: 90px; height: 90px"><i class="ri-arrow-left-line"></i></a>
        <h2>@Model.NamaKegiatan</h2>
    </div>
</div>
<div class="gallery animate__animated animate__fadeIn animate__slow">
    <div class="row" style="margin-bottom: 20px; padding: 1px 1px">
        @if (Model.DaftarFoto is not null && Model.DaftarFoto.Count > 0)
        {
            @foreach (var foto in Model.DaftarFoto)
            {
                <div class="col-lg-2 col-md-3 col-sm-4 col-6" style="padding: 1px">
                    <div class="content">
                        <a data-fancybox="gallery" href="@Url.Action("Foto", "File", new { Id = foto.Id, Area = "" })">
                            <img src="@Url.Action("Foto", "File", new { Id = foto.Id, Area = "" })" class="img-thumbnail" />
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_FancyBoxPartial" />

    @* RUSAKK *@
    <script>
        $(document).ready(function () {
            $("[data-fancybox]").fancybox({
                Image: {
                    initialSize: "fit",
                },
                Thumbs: {
                    showOnStart: true,
                    position: "bottom" 
                },
                Toolbar: {
                    display: {
                        left: ["infobar"],
                        middle: [
                            "zoomIn",
                            "zoomOut",
                            "toggle1to1",
                            "rotateCCW",
                            "rotateCW",
                            "flipX",
                            "flipY"
                        ],
                        right: ["slideshow", "thumbs", "close"]
                    }
                }
            });
        });
    </script>
}
