@model FotoViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="row mt-4">
    <div class="col gap-3 d-flex">
        <a asp-controller="Foto" asp-action="Index" asp-route-orderBy="@Model.OrderBy" class="btn btn-primary">Kembali</a>
        <h2>@Model.Key</h2>
    </div>
</div>
<div class="row">
    @foreach (var foto in Model.DaftarFoto)
    {
        <div class="col-4 p-2">
            <a asp-action="DetailFoto" asp-route-id="@foto.Id">
                <img src="@foto.PhotoPath" class="img-thumbnail" />
            </a>
        </div>
    }
</div>

