@model Views_Pengumuman_Index

@{
    ViewData["title"] = "Pengumuman";
    ViewData["Active"] = "Pengumuman";
}

<div class="container-fluid pb-3 pt-5">
    <h1 class="text-center animate__animated animate__fadeInDown">Pengumuman</h1>
</div>

<div class="container-pengumuman">
    <div class="one-pengumuman mb-3">
        <div class="row">
            <div class="col-1 gambar">
                <img src="img/LOGO_PENSI.jpg" />
            </div>
            <div class="col-9">
                <div class="row">
                    <h4 style="font-weight:bold;">
                        Pentas Seni Ilmu Komputer 2024
                    </h4>
                </div>
                <div class="row">
                    <p>
                        Dengan bangga kami mengundang seluruh civitas akademika untuk menghadiri Pentas Seni Ilmu Komputer 2024
                        yang akan diselenggarakan pada tanggal 15 Agustus 2024 di Aula Utama Kampus. Acara ini akan menampilkan
                        berbagai pertunjukan seni kreatif dari mahasiswa, termasuk tarian, drama, musik, dan pameran karya digital.
                    </p>
                    <a href=""></a>
                </div>
            </div>
            <div class="tanggal-pengumuman col-2 d-flex justify-content-end">
                <h5>
                    Kamis, 11 Juli 2024 <br /> 07.00
                </h5>
            </div>
        </div>
    </div>
    <div class="one-pengumuman mb-3">
        <div class="row">
            <div class="col-1 gambar">
                <img src="img/LOGO_PENSI.jpg" />
            </div>
            <div class="col-9">
                <div class="row">
                    <h4 style="font-weight:bold;">
                        Dies Natalies Ilmu Komputer 2025
                    </h4>
                </div>
                <div class="row">
                    <p>
                        Coming Soon !!!!.
                    </p>
                    <a href=""></a>
                </div>
            </div>
            <div class="tanggal-pengumuman col-2 d-flex justify-content-end">
                <h5>
                    Kamis, 11 Juli 2024 <br /> 07.00
                </h5>
            </div>
        </div>
    </div>
</div>