@model Views_Pengumuman_Index

@{
    ViewData["title"] = "Pengumuman";
    ViewData["Active"] = "Pengumuman";
}

<div class="container-fluid py-5">
    <h1 class="text-center animate__animated animate__fadeInDown">Pengumuman</h1>
</div>
<div class="container py-5">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="~/img/LOGO_PENSI.jpg" class="card-img-top" alt="Gambar">
        </div>
    </div>