.container-pengumuman {
    padding: 40px 60px 60px;
}

.one-pengumuman {
    position: relative; 
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.17);
    -webkit-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.17);
    -moz-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.17);
}

    .one-pengumuman:hover {
        box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.46);
        -webkit-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.46);
        -moz-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.46);
    }

.gambar {
    display: flex;
    justify-content: center;
}

    .gambar img {
        width: 70px;
        border-radius: 50%;
        height: 70px;
    }

.tanggal-pengumuman h5 {
    font-size: 16px;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0); 
}

    ::deep .content a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; 
        color: inherit; 
    }


#preSiters {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::deep .owl-stage-outer {
    padding: 0 5px !important;
}

#preSiters .sitewrapper {
    max-width: 1550px; /* width wrap */
    width: 100%;
    position: relative;
    overflow: hidden;
}

/*::deep .owl-nav {
    
}*/

::deep .owl-prev,
::deep .owl-next {
    position: absolute !important;
    background: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    top: calc(50% - 30px);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2.2rem !important;
    z-index: 9999;
    opacity: 1;
    text-align: center;
    transition: transform 0.1s linear;
}

        ::deep .owl-prev.disabled,
        ::deep .owl-next.disabled {
            opacity: 0 !important;
        }

            ::deep .owl-prev:active,
            ::deep .owl-next:active {
                transform: translateY(-50%) scale(0.85);
            }

            ::deep .owl-prev:hover,
            ::deep .owl-next:hover {
                color: black !important;
            }

    ::deep .owl-prev {
        left: -3px !important; 
    }

    ::deep .owl-next {
        right: -3px !important;         
    }

#preSiters .card {
    flex: 0 0 calc((100% - 84px) / 5); /* 5 cards fit */
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin: 7px;
}

#preSiters .profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 1rem;
    margin: 0 auto;
}

#preSiters .name-profile {
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

#preSiters .name2-profile {
    font-size: 1.1rem;
    margin-top: 0.2rem;
}

#preSiters .cover-bio {
    margin: 1rem auto;
    height: 45px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #preSiters .cover-bio .bio {
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }


#preSiters .btn-profile {
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: rgb(35, 35, 85);
    padding: 1rem;
    margin-top: auto;
    text-decoration: none;
    display: inline-block;
}

    #preSiters .btn-profile:hover {
        text-decoration: none;
        background: rgb(30, 30, 64);
        color: white;
    }

#preSiters .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preSiters .name-profile,
#preSiters .name2-profile {
    width: 100%;
}

/* Custom last-card */
#preSiters .last-card {
    position: relative;
    padding: 0;
    height: 100%;
}

#preSiters .card-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 341.95px;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

#preSiters .content-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
