@model Pengumuman?

@if(Model is not null)
{
    <div class="popup-screen">
        <div class="popup-box">
            <i class="ri-close-line cls-btn"></i>
            <h2>@Model.Judul</h2>
            <p>@Model.Isi</p>
            <a href="#" >Ente Ente</a>
        </div>
    </div>
    
    <script type="text/javascript">
        const popupScreen = document.querySelector(".popup-screen");
        // const popupBox = document.querySelector(".popup-box"); //cookies
        const closeBtn = document.querySelector(".cls-btn");
    
        window.addEventListener("load", () => {
            setTimeout(() => {
                popupScreen.classList.add("active");
            }, 500); // waktu popup muncul setelah page diload
        });
    
        closeBtn.addEventListener("click", () => {
            popupScreen.classList.remove("active");
        });
    </script>
}