@{
    var activeId = ViewData["ActiveMenuId"] as string;
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a id="profil" asp-action="Index" class="nav-link">Profil</a>
    </li>
    <li class="nav-item">
        <a id="fotoProfil" asp-action="FotoProfil" class="nav-link">Foto Profil</a>
    </li>
    <li class="nav-item">
        <a id="ubahPassword" asp-action="UbahPassword" class="nav-link">Ubah Password</a>
    </li>
    <li class="nav-item">
        <a id="ubahEmail" asp-action="UbahEmail" class="nav-link">Ubah Email</a>
    </li>
</ul>

<script type="text/javascript">
    const activeId = '@activeId'

    $('.nav-link#' + activeId).addClass('active');
</script>