@{
    ViewData["Title"] = "Access Denied";
}

<div class="container py-5 text-center">
    <h2>403</h2>
    <h3>Akses Ditolak</h3>
    <p>There's nothing here, <a asp-area="" asp-controller="Home" asp-action="Index">Let's go back!</a></p>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <dotlottie-player src="https://lottie.host/b6506e7c-c821-4d61-a76c-494d6e26aec3/KqhSOFUcMM.json" background="transparent" speed="1" style="max-width: 300px; max-height: 300px;" loop autoplay></dotlottie-player>
    </div>
</div>