@{
    ViewData["Title"] = "Access Denied";
}

<style>
    .container {

    }

    .container h2 {
        font-weight: 600;
        font-size: 70px;
    }

    .container h3 {
        font-weight: 500;
        font-size: 30px;
        color: rgb(35, 35, 85);

    }

    .container p {
        color: rgb(35, 35, 85);
    }

    .container img {
        width: 300px;
    }
</style>




<div class="container py-5 text-center">
    <h2>403</h2>
    <h3>Akses Ditolak</h3>
    <p>Maaf anda bukan Admin!!!<br />Kembali lagi saat sudah sukses menjadi admin</p>
    <img src="~/img/denied_woman.png"/>
</div>