/* Register Form */
#register-form {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1600px;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

    .container ::deep h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    .container ::deep .custome-input input,
    .container ::deep .custome-input select {
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        height: 46px;
        letter-spacing: 0.03rem;
        border: 1px solid #1d1d1d;
        background: transparent;
        outline: none;
        border-radius: 8px;
        text-indent: 10px;
        margin-top: 6px;
        transition: all 0.3s ease;
    }

    .container ::deep form .custome-input input:focus,
    .container ::deep form .custome-input select:focus {
        border-color: #5222fd;
    }

    .container ::deep form .custome-input i {
        position: absolute;
        font-size: 28px;
        right: 10px;
        top: 10px;
        transition: all 0.3s ease;
    }

    .container ::deep form .custome-input input:focus + i {
        color: #5222fd;
    }

    .container ::deep form .login {
        width: 100%;
        margin-top: 30px;
        background: #6b43ff;
        color: white;
        border: none;
        line-height: 50px;
        font-size: 18px;
        letter-spacing: 0.025rem;
        cursor: pointer;
        font-weight: 800;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
    }

        .container ::deep form .login:hover {
            background: #5222fd;
        }

    .container ::deep .links {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

        .container ::deep .links a {
            color: #6b43ff;
            font-weight: 600;
            font-size: 1rem;
            text-decoration: none;
            text-underline-offset: 6px;
            text-decoration-color: #6b43ff;
        }

            .container ::deep .links a:hover {
                text-decoration: underline;
            }

@media (max-width: 993px) {
    .container ::deep .col-md-4 {
        width: 50%;
        margin-bottom: 20px;
    }

    .col-md-4 {
        margin-top: 5px; /* Atur jarak atas antara input */
        margin-bottom: 0px; /* Atur jarak bawah antara input */
    }

    ::deep h1 {
        /*margin-bottom: 40px;*/
    }
}

@media (max-width: 773px) {
    .container ::deep .col-md-4 {
        width: 100%;
        margin-bottom: 15px;
    }

    #register-form {
        padding-top: 30px;
    }
}

::deep input[type=date] {
    font-family: 'Poppins', sans-serif; /* Ganti dengan font yang Anda inginkan */
    padding-right: 10px; /* Atur padding sesuai kebutuhan */
}

.container ::deep .divider {
    display: flex;
    align-items: center;
    gap: 20px;
}


    .container ::deep .divider .line {
        height: 1px;
        width: 100%;
        background: #1d1d1d;
        opacity: 0.2;
        margin: 30px 0 16px;
    }
