@inject UserManager<Mahasiswa> UserManager
@inject IRepositoriMahasiswa RepositoriMahasiswa
@model AccountFotoVM
@{
    ViewData["title"] = "Foto Profil";

    var id = UserManager.GetUserId(User);
    var user = await RepositoriMahasiswa.Get(id);

    ViewData["ActiveMenuId"] = "fotoProfil";
}

<!-- Bagian Top -->
<section class="backfoto">
    <img src="~/img/background_blue.png" />
    <div class="foto-profil">
        <img src="~/img/bentol.jpg" />
    </div>
</section>
<!-- Akhir Bagian Top -->

<div class="keterangan-foto-profil mb-3">
    <h3>Oswaldus Putra Fernando</h3>
    <h5 style="color:#111">2206080016</h5>
</div>

<div class="container-menu">
    <div class="container-menu-lebar">
        <partial name="_MenuPartial" />
    </div>
</div>


<div class="container-fluid container-input-utama mb-5">
    <div class="row">

        <div class="col-12 d-flex justify-content-center">
            <div class="card w-100 shadow-sm" @* style="max-width: 600px" *@>
                <div class="card-body">
                    <div class="row mb-4" id="fotoProfilFoto">
                        <div class="col d-flex justify-content-center">
                            <img id="currentProfilePic" src="@Url.ActionLink("FotoProfil", "File", new { Id = id, Area = "" })" class="img-thumbnail" width="400">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <form id="formFotoProfil" enctype="multipart/form-data" method="post" class="col d-flex flex-column align-items-center" asp-action="FotoProfil">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-2" style="display: none;">
                                <div class="col">
                                    <label asp-for="@Model.FotoFormFile"></label>
                                    <input class="form-control" asp-for="@Model.FotoFormFile" type="file" id="fileInput" />
                                    <span asp-validation-for="@Model.FotoFormFile" class="text-danger"></span>
                                </div>
                            </div>

                            <div id="buttonGroup" style="display: none;">
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-custom" id="btnSubmit" type="submit">Simpan</button>
                                    <button id="btnBatal" class="btn btn-secondary ms-2" type="button">Batal</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <button id="btnEdit" class="btn btn-custom">Ganti Foto Profil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(() => {
            let originalSrc = $('#currentProfilePic').attr('src');

            const toggleEdit = (toggle) => {
                if (toggle) {
                    $('#btnSubmit').show();
                    $('#btnBatal').show();
                    $('#btnEdit').hide();
                    $('#buttonGroup').show();
                } else {
                    $('#btnSubmit').hide();
                    $('#btnBatal').hide();
                    $('#btnEdit').show();
                    $('#buttonGroup').hide();
                    $('#fileInput').val('');
                    $('#currentProfilePic').attr('src', originalSrc);
                }
            };

            $('#btnEdit').click(() => {
                $('#fileInput').click();
            });

            $('#fileInput').change((event) => {
                const input = event.target;
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        $('#currentProfilePic').attr('src', e.target.result);
                        toggleEdit(true);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            });

            $('#btnBatal').click(() => {
                toggleEdit(false);
            });

            $('#formFotoProfil').on('submit', (event) => {
                originalSrc = $('#currentProfilePic').attr('src');
            });
        });
    </script>
}
