@{
    ViewData["Title"] = "Success Registration";
}

<p>
    Pendaftaran Sukses. Silahkan cek email anda untuk mengkonfirmasi email anda.
</p>

<form method="post" asp-action="SuccessRegistrationPOST" asp-route-userId="@ViewData["UserId"]">
    <button class="btn btn-primary">Kirim Ulang Email Verifikasi</button>
</form>