@{
    ViewData["Title"] = "Success Registration";
}

<p>
    Pendaftaran Sukses. Silahkan cek email anda untuk mengkonfirmasi email anda.
</p>
<a asp-action="SuccessRegistrationPOST" asp-route-userId="@ViewData["UserId"]">Kirim Ulang Email</a>