@{
    ViewData["Title"] = "Ubah Email";
    ViewData["ActiveMenuId"] = "ubahEmail";
}

<div class="container-fluid pt-5 mb-5">
    <div class="row">
        <div class="col-md-3 mb-5">
            <partial name="_MenuPartial" />
        </div>
        <div id="profil" class="col-md-9 d-flex">
            <div class="card w-100 shadow-sm">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col">
                            <h1>Ubah Email</h1>
                        </div>
                    </div>
                    <div class="row">
                        <form id="formProfil" asp-controller="Account" asp-area="" asp-action="UbahEmailTungguPOST" 
                              asp-route-email="@ViewData["Email"]" class="col-md-12 d-flex flex-column gap-3" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row mb-2">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <button class="btn btn-custom" type="submit">Kirim Email Ulang</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}