.container-input-utama {
    padding-top: 50px;
}

.ruang-input {
    padding: 0vw 15vw;
}

/* CSS type input Text dan Textarea */
::deep .form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #000000 !important;
}

::deep .input-box label {
    color: #333;
    margin-bottom: 3px;
    font-size: 16px;
}

::deep .input-box input {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 15px;
}

::deep .input-box select {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 16px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 15px;
}
/* Akhir CSS type input Text dan Textarea */

/* Responsive adjustments */
@media (max-width: 576px) {

    .container-input-utama {
        padding-top: 20px;
    }

    .ruang-input {
        padding: 0vw 5vw;
    }

    .input-box label {
        font-size: 14px;
    }

    .input-box input,
    .input-box select,
    .input-box textarea {
        font-size: 14px;
        padding: 0 10px;
    }

    .btn-custom {
        padding: 5px 10px;
    }
}

@media (max-width: 486px) {
    .ruang-input {
        font-size: 15px;
    }
}
