@{
    ViewData["Title"] = "Ubah Email";
    ViewData["ActiveMenuId"] = "ubahEmail";
}

<!-- Bagian Top MenuPartial -->
<div class="container-menu">
    <div class="container-menu-lebar">
        <partial name="_MenuPartial" />
    </div>
</div>

<div class="container-fluid container-input-utama mb-5">
    <div class="row">
        <div id="profil" class="col-md ruang-input">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <form id="formProfil" asp-controller="Account" asp-area="" asp-action="UbahEmailTungguPOST" 
                              asp-route-email="@ViewData["Email"]" class="col-md-12 d-flex flex-column gap-3" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row mb-2">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <button class="btn btn-custom" type="submit">Kirim Email Ulang</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}