/* _content/webSITE/Views/Shared/_AdminDashboardLayout.cshtml.rz.scp.css */

@keyframes swing-b-m2en5hj7xr {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar-b-m2en5hj7xr {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

:root[b-m2en5hj7xr] {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body[b-m2en5hj7xr] {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

    body[b-m2en5hj7xr]::-webkit-scrollbar {
        width: 0.25rem;
    }

    body[b-m2en5hj7xr]::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    body[b-m2en5hj7xr]::-webkit-scrollbar-thumb {
        background: #6649b8;
    }

main[b-m2en5hj7xr] {
    margin-left: 5rem;
    padding: 1rem;
}

nav[b-m2en5hj7xr] {
    top: 0px;
    left: 0px;
}

.navbar[b-m2en5hj7xr] {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav[b-m2en5hj7xr] {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item[b-m2en5hj7xr] {
    width: 100%;
}

.nav-link[b-m2en5hj7xr] {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

    .nav-link:hover[b-m2en5hj7xr] {
        filter: grayscale(0%) opacity(1);
        color: var(--text-secondary);
        background-color: var(--bg-secondary);
    }

.link-text[b-m2en5hj7xr] {
    display: none;
    margin-left: 1rem;
}

.nav-link svg[b-m2en5hj7xr] {
    min-width: 2rem;
    max-width: 4rem;
    margin: 0 1.5rem;
}

.navbar:hover[b-m2en5hj7xr] {
    width: 16rem;
}

    .navbar:hover .link-text[b-m2en5hj7xr] {
        display: block;
    }

.fa-primary[b-m2en5hj7xr] {
    color: blue;
}

.fa-secondary[b-m2en5hj7xr] {
    color: cadetblue;
}

.fa-primary[b-m2en5hj7xr],
.fa-secondary[b-m2en5hj7xr] {
    transition: var(--transition-speed);
}

.logo[b-m2en5hj7xr] {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg[b-m2en5hj7xr]{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg[b-m2en5hj7xr] {
    transform: rotate(-180deg);
}

.dropdown:hover .dropdown-menu[b-m2en5hj7xr] {
    display: block;
}

.dropdown-menu[b-m2en5hj7xr] {
    display: none;
    background-color: var(--bg-primary);
    transition: var(--transition-speed) ease;
}

.dropdown-item[b-m2en5hj7xr] {
    color: var(--text-primary);
    padding-left: 4rem;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed) ease;
}

    .dropdown-item:hover[b-m2en5hj7xr] {
        background: var(--bg-secondary);
        color: var(--text-secondary);
        filter: grayscale(0%) opacity(1);
    }
/* _content/webSITE/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-okpr1i18lo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-okpr1i18lo] {
  color: #0077cc;
}

.nav-item:hover[b-okpr1i18lo] {
    background-color: ghostwhite;
    transition: .1s ease-in-out;
    border-radius: 8px;
}

.container[b-okpr1i18lo] {
    max-width : 1500px;
}

.btn-primary[b-okpr1i18lo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-okpr1i18lo], .nav-pills .show > .nav-link[b-okpr1i18lo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-okpr1i18lo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-okpr1i18lo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-okpr1i18lo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-okpr1i18lo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-okpr1i18lo] {
  position: absolute;
  background-color : white;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
